@font-face {
    font-family: 'Copyist';
    src: url('Copyist.woff2') format('woff2'),
        url('Copyist.woff') format('woff'),
        url('Copyist.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

