<div [ngClass]="{ 'container inner-page': !isHome }">
  <div *ngIf="!isHome && headerImages" class="header-images" [ngClass]="{ visible: headerImagesVisible }">
    <div class="hi-line hi-left-line"></div>
    <div class="hi-line hi-right-line"></div>
    <div class="hi-line hi-right-bottom-line"></div>
    <div class="header-img header-img-1">
      <i [style.backgroundImage]="'url(' + headerImages.img1 + ')'"></i>
    </div>
    <div class="header-img header-img-2">
      <i [style.backgroundImage]="'url(' + headerImages.img2 + ')'"></i>
    </div>
    <div class="header-img header-img-3">
      <i [style.backgroundImage]="'url(' + headerImages.img3 + ')'"></i>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="isLoaded">
  <section class="our-folio check-visibility" *ngIf='currentPage !=="/folio"'>
    <div class="container">
      <h3 class="title-1">{{'Наши работы' | getMessage}}</h3>
      <div class="folio-slider">
        <owl-carousel [options]="folioCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let image of folioImages">
            <a [href]="image.url" data-fancybox="folio"><img [src]="image.thumbnail" /></a>
          </div>
        </owl-carousel>
      </div>
    </div>
  </section>
  <section class="news check-visibility">
    <div class="container">
      <h3 class="title-1">{{'Новости' | getMessage}}</h3>
      <ul class="news-list gridEffect" data-fx="Shu">
        <li *ngFor="let item of news" class="grid__item bordered-hover">
          <span class="borders-hover border-left"></span><span class="borders-hover border-top"></span><span
            class="borders-hover border-right"></span><span class="borders-hover border-bottom"></span>
          <div class="grid__link">
            <div class="news-date">
              {{ item.published_at | date: 'dd.MM.yyyy' }}
            </div>
            <div class="news-title">
              <a [routerLink]="'/article/' + item.slug">{{ item.title }}</a>
            </div>
            <div class="news-desc">{{ item.description }}</div>
            <div class="news-learn-more">
              <a [routerLink]="'/article/' + item.slug"><span>{{'Узнать больше' | getMessage}}</span></a>
            </div>
          </div>
        </li>
      </ul>
      <div class="news-line news-line-left-top"></div>
      <div class="news-line news-line-left-bottom"></div>
      <div class="news-line news-line-right-top"></div>
      <div class="news-line news-line-right-bottom"></div>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <h3 class="title-1">{{'Отзывы' | getMessage}}</h3>
      <div class="reviews-slider">
        <owl-carousel [options]="reviewsCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let review of reviews">
            <div class="review-header">
              <img class="review-img" [src]="review.thumbnail" />
              <div *ngIf="review.title?.length">
                <p>{{ review.title[0] }}</p>
                <div *ngIf="review.title[1]">{{ review.title[1] }}</div>
              </div>
            </div>
            <div class="review-text" [innerHtml]="review.description"></div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </section>
</ng-container>
