<h1 class='title-1'>{{'Видео материалы' | getMessage}}</h1>
<ul class="videos">
  <li *ngFor='let video of videos | async'>
    <div [innerHtml]='video.video | safeHtml'></div>
    <!-- <div class="video-title">{{video.title}}</div> -->
  </li>
</ul>
