<ul>
  <ng-container *ngFor="let item of menu; let i = index">
    <li *ngIf='menu[0]?.root && (menu.length / 2) <= i && (menu.length / 2) > i - 1' class='logo'>
      <a [routerLink]="'/'">
        <img src="/assets/img/logo.png">
      </a>
    </li>
    <li routerLinkActive="active">
      <a *ngIf="item['url'][0] !== 'contacts'" [routerLink]="item['url'][0] | menuLink">{{ item.label }}</a>
      <a *ngIf="item['url'][0] === 'contacts'" (click)='openDialog()'>{{ item.label }}</a>
      <ln-menu *ngIf="item['items']?.length &gt; 0" [menu]="item['items']"></ln-menu>
    </li>

  </ng-container>
</ul>
