<h3 class="title-1 text-center">{{'Контакты' | getMessage}}</h3>
<div class="tab-btns">
  <button *ngFor='let address of data; let i = index;' class="btn btn-default"
    [ngClass]='{"white": activeAddress === (i + 1)}' (click)='toggleAddress()'><span>
      {{address.title}}
    </span></button>
</div>
<div class="address-panel" *ngFor='let address of data; let i = index' [ngClass]='{"active": activeAddress === (i + 1)}'
  [innerHtml]='address.content'>

</div>
