$navLinksLength: 25;
$defaultFontColor: #191919;
$defaultFontSize: 14px;
$defaultFontFamily: 'Ubuntu-Regular', "Helvetica Neue", sans-serif;
$color-1: #eb8200;
$color-2: #3264b5;
$color-3: #ed2c2c;
$border-color: #d3d3d3;