// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maru-primary: mat-palette($mat-indigo);
$maru-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$maru-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$maru-theme: mat-light-theme($maru-primary, $maru-accent, $maru-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($maru-theme);

/* You can add global styles to this file, and also import other style files */

@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';
@import './hover-effects';
@import './animations';
@import './jquery.fancybox.css';
@import './gridsEffects';

// fonts
@import '../fonts/century/stylesheet.css';
@import '../fonts/montserrat/stylesheet.css';
@import '../fonts/ubuntu/stylesheet.css';
@import '../fonts/ptsans/stylesheet.css';
@import '../fonts/copyist/stylesheet.css';
// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***

// normilize css
@import 'normalize.css/normalize.css';

* {
  @include box-sizing(border-box);
  outline: none;

  &::before,
  &::after {
    @include box-sizing(border-box);
  }
}

html,
body {
  height: 100%;
  // overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  color: $defaultFontColor;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  @include dec-n;
  color: $color-1;

  &:hover {
    color: $color-2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  line-height: 1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 20px;
}

.title-1 {
  font-size: 36px;
  font-family: 'CenturyGothic';
  margin-bottom: 28px;
}

.check-visibility {
  .title-1 {
    @include opacity(0);
    @include transform(translate(0, -40%));
    @include transition(opacity 0.3s, transform 0.5s);
  }
}

.visible {
  .title-1 {
    @include opacity(1);
    @include transform(translate(0));
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

img {
  max-width: 100%;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1280px;

  &.header-fixed {
    padding-top: 117px;

    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.1));

      .header-inner {
        padding-top: 25px;
        padding-bottom: 20px;
      }
    }
  }
}

.container {
  padding: 0 104px;
  width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 1440px;
    padding: 0 55px;
  }
}

@media (max-width: 1439px) {
  .container {
    width: 1280px;
    padding: 0 40px;
  }
}

.content {
  padding-top: 25px;
}

.mouse-follower {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  @include border-radius(50%);
  position: fixed;
  z-index: 20;
}

.cursor-cont {
  z-index: 99;
  position: relative;
  // overflow: hidden;
  pointer-events: none;
}

.cursor-cont .cursor {
  position: absolute;
  // overflow: hidden;
  width: 6px;
  height: 6px;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  display: block;
  @include border-radius(50%);
  opacity: 0;

  &:after {
    display: block;
    width: 100%;
    height: 100%;
    background: $color-1;
    position: absolute;
    @include border-radius(50%);
    // @include opacity(0.5);
    content: '';
  }

  &.clicked {
    &:after {
      @include transition(all 0.5s);
      @include transform(scale(15));
      @include opacity(0);
      @include box-shadow(0 0 10px 10px $color-2);
    }
  }
}

@keyframes clicked {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(15, 15);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(20px);
  }
}

.cursor-cont .cursor::before {
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $color-2;
  top: 0;
  @include border-radius(50%);
  left: 0;
}

.cursor-cont .cursor.moving {
  opacity: 1;
}

.cursor-cont .node {
  position: absolute;
  overflow: hidden;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  display: block;
  border-radius: 50%;
  -moz-transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    transform 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    border 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    transform 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    border 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    transform 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    border 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    transform 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    border 0.6s cubic-bezier(0.7, 0, 0.3, 1),
    background-color 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  border: 1px solid #999999;
  opacity: 0;
  z-index: -1;
}

.cursor-cont .node.moving {
  opacity: 1;
}

.cursor-cont .node.expand {
  @include transform(scale(6));
  background-color: #999999;
  opacity: 0.2;
}

.btn {
  @include inline-block;
  position: relative;
  line-height: 50px;
  height: 50px;
  padding: 0 40px;
  font-size: 16px;
  @include dec-res;
  border: none;
  overflow: hidden;
  @include border-radius(50px !important);

  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: 0;
  }

  &::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ad0370;
  }

  &::after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#31b5f0+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top,
        rgba(49, 181, 240, 1) 0%,
        rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
        rgba(49, 181, 240, 1) 0%,
        rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
        rgba(49, 181, 240, 1) 0%,
        rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31b5f0', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
    @include transform(rotate(20deg));
    right: -50%;
    top: -50%;
    height: 200%;
    width: 150%;
  }

  >span {
    position: relative;
    z-index: 1;
  }

  &.white {
    padding: 1px;

    >span {
      background: white;
      color: #000;
      height: 100%;
      display: block;
      position: relative;
      z-index: 1;
      line-height: 48px;
      padding: 0 50px;
      @include border-radius(48px);
    }
  }
}

.btn-spc {
  font-family: 'CenturyGothic-Bold', sans-serif;
  color: #111111;
  font-size: 18px;
  background: #ffe115;

  &::before,
  &::after {
    display: none;
  }
}

.btn-default {
  font-family: 'CenturyGothic-Bold', sans-serif;
  color: #fff;
  font-size: 18px;

  &::after {
    @include transition(transform 0.2s);
  }

  &:hover {
    color: #fff;

    &::after {
      @include transform(rotate(180deg));
    }
  }
}

.btn-primary {
  font-family: 'Ubuntu-Regular', sans-serif;
  color: #5dc3ff;
  padding: 1px;

  &:hover {
    color: $color-1;
  }



  >span {
    height: 100%;
    display: block;
    position: relative;
    background: #000000;
    z-index: 1;
    line-height: 48px;
    padding: 0 50px;
    @include border-radius(48px);

    i {
      margin-right: 10px;
    }
  }
}

.clearfix {
  @include clearfix;
}

// header start
.header {
  position: relative;
  z-index: 9;
}

.header-inner-inner {
  position: relative;
}

.header-inner {
  position: relative;

  padding: {
    top: 53px;
    bottom: 40px;
    left: 50px;
    right: 50px;
  }

  ;
  z-index: 3;

  background-color: rgba($color: white, $alpha: 0.75);
}

.logo {
  max-width: 51px;
  position: relative;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include dec-res;
  }
}

.main-nav {
  position: relative;
  text-align: center;

  ul {
    @include reset-list;
    @include inline-block;
    margin-left: 30px;

    li {
      float: left;
      margin: 0 20px;
      position: relative;
      overflow: hidden;

      &.separator {
        width: 51px;
        height: 1;
      }

      a {
        font-family: 'Ubuntu-Medium', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: $defaultFontColor;
        cursor: pointer;
        @include dec-res;
        @include transition(color 0.3s);
        display: block;

      }

      &:hover {
        overflow: visible;

        >a {
          color: $color-1;
        }

        >ln-menu>ul,
        >ul {
          opacity: 1;
          visibility: visible;
          @include transform(rotate(0));

          >li {
            opacity: 1;
            visibility: visible;
            @include transform(translate(0));

            >a {
              @extend .hover-line-through;
            }
          }
        }
      }
    }

    .logo {
      margin-top: -20px;
      margin-left: 50px;
      margin-right: 50px;

      a {
        position: relative;

        &::before,
        &::after {
          display: none;
        }
      }
    }

    ul {
      margin: 0;
      position: absolute;
      left: 0;
      text-align: left;
      top: 100%;
      background: #fff;
      width: 300px;
      padding: 10px 0;
      text-align: left;
      box-shadow: 0 7px 8px rgba(192, 147, 147, 0.3);
      opacity: 0;
      border-top: 5px solid $color-1;
      @include border-radius(0 10px 10px 10px);
      @include transform(rotateY(180deg));
      @include transition(all 0.6s);
      @include transition-delay(0.2s);
      z-index: 2;

      li {
        display: block;
        margin-bottom: 0;
        margin-left: 0 !important;
        opacity: 0;
        @include transform(translate(0, 20%));
        @include transition(all 0.3s);
        @include transition-delay(0.4s);
        text-align: left;
        width: 100%;
        padding-right: 18px;
        overflow: hidden;

        a {
          margin-left: -10px;
          display: block;
          padding: 10px 30px !important;
          @include dec-res;
          @include transition(all 0.3s);
          color: $defaultFontColor;

          &::before,
          &::after {
            display: none;
          }
        }

        &.active,
        &:hover {
          overflow: visible;

          >a {
            background: $color-1;
            color: #fff !important;
          }
        }
      }
    }
  }
}

.myPanelClass {
  margin-top: 55px;
  min-width: 100% !important;
  margin-left: 15px;
  @include border-radius(15px !important);
}


.lang-nav {
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-family: 'Montserrat-Regular', sans-serif;
  position: absolute;
  overflow: hidden;

  &.active {
    overflow: visible;

    .active-lang {
      @include border-radius(50% 50% 0 0);
      border-color: $color-3;
      border-bottom-color: transparent;
    }

    ul {
      @include opacity(1);
      @include transform(translate(0));
      visibility: visible;

      li {
        @include opacity(1);
        @include transform(translate(0));
      }
    }
  }

  ul {
    @include reset-list;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    @include transition(all 0.3s);
    background: #fff;

    border: {
      left: 1px solid $color-3;
      right: 1px solid $color-3;
      bottom: 1px solid $color-3;
    }

    @include opacity(0);
    @include transform(translate(0, 100%));
    visibility: hidden;
    overflow: hidden;
    @include border-radius(0 0 7px 7px);

    li {
      padding: 7px 0;
      text-align: center;
      @include transition(transform 0.3s);
      @include transition-delay(0.2s);
      @include opacity(0);
      @include transform(translate(100%));
      cursor: pointer;

      &:hover {
        background: $color-3;
        color: #fff;
      }
    }
  }
}

.active-lang {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-align: center;
  border: 1px solid $border-color;
  @include border-radius(50%);
  @include transition(all 0.3s);

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  span {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}

.cart-link {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
  line-height: 40px;
  text-align: center;
  border: 1px solid $border-color;
  @include border-radius(50%);
  background: url(../img/caret.png) no-repeat center;
  position: absolute;
  left: 70px;
  top: 0;

  span {
    position: absolute;
    left: calc(100% + 5px);
    font-family: 'Montserrat-Bold', sans-serif;
    color: $color-3;
    font-size: 14px;
  }
}

.quantity {
  margin-bottom: 25px;
  line-height: 40px;

  >div {
    background: #cacaca;
    width: 100px;
    height: 25px;
    line-height: 25px;
    position: relative;
    @include border-radius(25px);
    @include inline-block;
    margin-left: 18px;

    a {
      color: #ffffff;
      position: absolute;
      height: 100%;
      width: 35px;
      top: 0;
      text-align: center;
      @include dec-res;
      cursor: pointer;
      @include transition(background-color 0.4s);

      &:hover {
        background: $color-1;
      }

      &.increase {
        @include border-radius(0 25px 25px 0);
        right: 0;
      }

      &.reduce {
        left: 0;
        @include border-radius(25px 0 0 25px);
      }
    }

    span {
      height: 40px;
      width: 40px;
      text-align: center;
      @include border-radius(50%);
      color: #000000;
      line-height: 38px;
      border: 1px solid #f2f2f2;
      font-size: 18px;
      position: absolute;
      left: calc(50% - 20px);
      top: -8px;
      background: white;
    }
  }
}

.product-color {
  margin-bottom: 25px;
  line-height: 40px;
  @include clearfix;

  img {
    margin-left: 10px;
    @include inline-block;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
  }
}

.vendor-code {
  margin-bottom: 40px;

  strong {
    margin-left: 18px;
    font-size: 18px;
    font-family: 'Ubuntu-Bold', sans-serif;
    font-weight: normal;
  }
}

.product-price {
  font-family: 'Ubuntu-Medium', sans-serif;
  font-size: 24px;
  color: #a3a3a3;

  strong {
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 30px;
    color: $color-3;
    margin-left: 10px;
  }
}

.feedback {
  position: absolute;
  right: 0;
  top: 0;
}

.fdb-btn {
  color: #8d8d8d;
  font-size: 14px;
  font-family: 'PTSans-Regular', sans-serif;
  @include dec-res;
  cursor: pointer;
  @include clearfix;
  @include transition(color 0.3s);
  padding-right: 36px;
  padding-left: 12px;
  white-space: nowrap;
  display: block;

  &:hover {
    color: $color-1;
  }

  span {
    @include inline-block;
    position: relative;
    vertical-align: bottom;
    z-index: 2;
  }

  i {
    height: 22px;
    width: 22px;
    position: absolute;
    background: $color-3;
    display: block;
    @include border-radius(22px);
    right: 0;
    top: 0;
    @include transition(width 0.4s);

    &::before,
    &::after {
      background: #fff;
      content: '';
      position: absolute;
    }

    &::before {
      height: 8px;
      width: 2px;
      top: calc(50% - 4px);
      right: calc(50% - 1px);
      @include transition(transform 0.2s);
      @include transition-delay(0.3s);
    }

    &::after {
      width: 8px;
      height: 2px;
      @include transition(all 0.5s);
      right: calc(50% - 4px);
      top: calc(50% - 1px);
    }
  }

  &.active {
    color: #fff;

    i {
      width: 100%;

      &::before {
        @include transform(rotate(-90deg));
        right: 12px;
      }

      &::after {
        @include transform(translate(150%, 0));
        @include opacity(0);
      }
    }
  }
}


.address-dialog {
  max-width: 100%;

  .title-1 {
    margin-bottom: 50px;
  }

  .mat-dialog-container {
    @include border-radius(20px);
  }
}

.tab-btns {
  margin-bottom: 60px;
  text-align: center;

  button {
    margin: 0 20px;
  }

  .btn-default {
    &:not(.white) {
      padding: 0 50px;
    }
  }
}

.address-panel {
  padding: 0 100px;

  &:not(.active) {
    display: none;
  }

  p {
    margin-bottom: 70px;
  }

  a {
    color: #3264b5;
  }
}


@media (max-width: 1599px) {
  .header-inner {
    padding: {
      left: 40px;
      right: 40px;
    }
  }

  .main-nav {
    ul {
      li {
        margin: 0 15px;

        a {
          font-size: 16px;
        }

        &.logo {
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .header-inner {
    padding: {
      left: 30px;
      right: 30px;
      top: 45px;
      bottom: 35px;
    }
  }

  .main-nav {
    ul {
      li {
        margin: 0 13px;

        a {
          font-size: 14px;
        }

        &.logo {
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
  }

  .lang-nav,
  .cart-link {
    margin-top: -8px;
  }
}



// header end

.main-slider {
  position: relative;
}

.ms-imgs {
  @include reset-list;
  position: relative;
  height: 636px;
  z-index: 2;

  li {
    position: absolute;
    top: 94px;
    @include transition(all 1.2s ease-out);
    // &.prev-img,
    // &.current-img,
    // &.next-img {

    // }
    &.hiding {
      &:not(.prev-img):not(.current-img):not(.next-img) {
        left: -125px;

        a {
          @include opacity(0);
          @include transform(scale(0.4));
          visibility: hidden;
        }
      }
    }

    &:not(.prev-img):not(.current-img):not(.next-img) {
      @include opacity(0);
      @include transform(scale(0));
      visibility: hidden;
    }

    &.prev-img,
    &.next-img {
      // @include transform(rotateY(360deg));

      a {
        @include transform(scale(0.55));
      }
    }

    &.prev-img {
      left: -150px;
    }

    &.next-img {
      left: calc(100% - (550px - 150px));
    }

    &.current-img {
      left: calc(50% - 275px);
    }

    a {
      display: block;
      @include transition(all 0.4s);

      i {
        width: 550px;
        height: 550px;
        display: block;
        // @include transform(rotate(-45deg));

        background: {
          repeat: no-repeat;
          position: center center;
          size: cover;
        }

        // @include box-shadow(-9px 9px 10px rgba(0, 0, 0, 0.1));
      }

      .new {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.ms-counter {
  position: absolute;
  bottom: 25px;
  left: calc(50% + 90px);
  font-family: 'Copyist', sans-serif;
  color: $color-1;
  font-size: 432px;
  line-height: 165px;
  z-index: 1;
  height: 165px;

  ul {
    @include reset-list;
    @include inline-block;
    vertical-align: top;

    li {
      position: absolute;
      bottom: 0;
      left: 105px;
      @include transition(all 0.9s ease-out);

      &:not(.active) {
        @include opacity(0);
        visibility: hidden;
        @include transform(scale(0.5));
      }
    }
  }

  span {
    @include inline-block;
    vertical-align: top;
  }
}

.ms-desc {
  position: absolute;
  left: calc(50% + 285px);
  bottom: 90px;
  font-size: 18px;
  text-transform: uppercase;
  @include reset-list;

  li {
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;

    &:not(.active) {
      // display: none;
    }

    &.show-content {

      div,
      p {
        @include opacity(1);
        @include transform(translate(0));
      }
    }
  }

  div,
  p {
    @include transition(all 0.4s ease-out);
    @include opacity(0);
  }

  div {
    font-family: 'Ubuntu-Bold';
    margin-bottom: 5px;
    @include transform(translate(0, -100%));
  }

  p {
    @include transform(translate(0, 100%));
    margin: 0;
    font-family: 'Ubuntu-Light';
  }
}

.ms-pagination {
  position: absolute;
  left: calc(50% + 285px);
  bottom: 45px;
  @include reset-list;
  z-index: 3;

  li {
    float: left;

    &:not(.ms-next-slide) {
      overflow: hidden;
      width: 6px;
      height: 6px;
      background: $color-1;
      position: relative;
      margin-top: 9px;
      @include transform(rotate(-45deg));

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        background: #2d2d2d;
        @include transition(all 0.3s);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      &.active {

        &::before,
        &::after {
          width: 100%;
          height: 100%;
        }
      }
    }

    &:not(:first-child) {
      margin-left: 18px;
    }
  }
}

.ms-next-slide {
  font-size: 17px;
  cursor: pointer;
  color: $color-1;
  margin-left: 12px !important;
  @include transition(all 0.4s);

  &:hover {
    @include transform(scale(1.2));
    color: #2d2d2d;
  }
}

.content-top {
  position: relative;
  padding-bottom: 180px;
}

.top-line {
  position: absolute;
  width: 2px;
  background: #e9e9e9;
}

.left-top,
.left-bottom {
  left: 0;
}

.right-bottom,
.right-top {
  right: 0;
}

.left-top {
  top: -55px;
  left: 125px;
  height: 360px;
  @include transform(rotate(-45deg));
}

.left-bottom {
  bottom: 60px;
  left: 170px;
  height: 470px;
  @include transform(rotate(45deg));
}

.left-bottom-shorter {
  bottom: 122px;
  left: 127px;
  height: 365px;
  background: #ffc592;
  @include transform(rotate(45deg));
}

.right-bottom {
  bottom: 95px;
  right: 127px;
  height: 365px;
  @include transform(rotate(-45deg));
}

.scroll-down {
  width: 21px;
  position: absolute;
  left: calc(50% - 10.5px);
  bottom: 35px;
  z-index: 3;
  padding-top: 46px;

  span {
    display: block;
    height: 34px;
    border: 1px solid #555555;
    position: relative;
    background: #fff;
    z-index: 1;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include transition(background-color 0.3s);
    animation: 2s linear 1s alternate none infinite running mouse;

    &::before {
      height: 9px;
      width: 2px;
      background: #999;
      position: absolute;
      left: calc(50% - 1px);
      bottom: 6px;
      content: '';
      @include transition(background-color 0.3s);
    }
  }

  i {
    height: 39px;
    width: 9px;
    position: relative;
    display: block;
    margin: 0 auto;

    &::before,
    &::after {
      @include transition(height 0.3s);
      width: 100%;
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      background: url(../img/arrow-down.png) center bottom no-repeat;
      bottom: 0;
      height: 100%;
      @include opacity(0.35);
    }

    &::after {
      height: 0;
      top: 0;
      background: url(../img/arrow-down-hover.png) center top no-repeat;
    }
  }

  &:hover {
    span {
      animation-play-state: paused;
      background: #555555 !important;

      &::before {
        background: #999;
      }
    }

    i {
      &::before {
        height: 0;
      }

      &::after {
        height: 100%;
      }
    }
  }
}

@keyframes mouse {
  from {
    top: 50%;
    background: #555555;
  }

  to {
    top: -10%;
    background: #fff;
  }
}

.maru-new-items {
  background: url(../img/section-1.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  color: #fff;

  .container {
    height: 680px;
  }

  &.visible {
    .ni-img {
      @include transform(rotate(0) scale(1) translate(0));
      @include opacity(1);
    }

    .ni-line {
      &:not(.ni-left-top):not(.ni-left-bottom) {
        @include opacity(1);
      }

      &.ni-left-top,
      &.ni-left-bottom {

        &::before,
        &::after {
          width: 50%;
        }
      }
    }

    .ni-desc {

      h2,
      p,
      .btn {
        @include transform(translate(0));
        @include opacity(1);
      }
    }
  }
}

.ni-imgs-cont {
  z-index: 1;
  position: relative;
}

.ni-imgs {
  position: relative;
  width: 815px;
  height: 100%;
  float: left;
}

.ni-img {
  position: absolute;
  top: 0;
  left: 0;
  @include transition(transform 0.5s ease-in, opacity 0.2s ease-out);
  @include opacity(0);
  // @include transform(rotateY(-80deg) scale(1.3) translate(15%, -100%));
  z-index: 1;

  &.ni-img-3 {
    @include transform(rotateY(-80deg) scale(1.3) translate(0%, -100%));
  }

  &.ni-img-2 {
    @include transform(rotateY(45deg) scale(.6) translate(0, 100%));
  }

  &.ni-img-1 {
    @include transform(rotateY(-80deg) scale(1.3) translate(0, -100%));
  }

  i {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;

    background: {
      repeat: no-repeat;
      position: left bottom;
    }
  }

  img {
    position: relative;
    z-index: 1;
  }
}

.ni-img-1 {
  left: 330px;
  top: 45px;
  z-index: 3;
  @include transition-delay(0.6s);

  i {
    left: -40px;
    bottom: -45px;
  }
}

.ni-img-2 {
  left: 222px;
  top: 125px;
  z-index: 2;
  @include transition-delay(0.3s);

  i {
    top: 16px;
    left: -36px;
    bottom: auto;
    background-position: left top;
  }
}

.ni-img-3 {
  left: 0;
  top: -35px;
  // @include transition-delay(0.1s);
}

.ni-desc {
  height: 100%;
  overflow: hidden;
  @include display-flex;
  @include flex-direction(row);
  font-family: 'Ubuntu-Light', sans-serif;
  @include align-items(center);
  line-height: 1.4;

  h2,
  p,
  .btn {
    @include transition(opacity 0.5s, transform 0.7s ease-out);
    @include transform(translate(0, 20%));
    @include opacity(0);
  }

  h2 {
    @include transition-delay(0.6s);
    font-size: 36px;
    color: $color-1;
    margin-bottom: 40px;
    font-family: 'Ubuntu-Light', sans-serif;
    text-transform: uppercase;
  }

  p {
    @include transition-delay(0.7s);
    margin-bottom: 40px;
  }

  .btn {
    @include transition-delay(0.8s);
    width: 315px;
    text-align: center;

    span {
      padding: 0;
    }

    @extend .shine-hover;
  }
}

.ni-line {
  position: absolute;
  z-index: 0;

  &:not(.ni-left-top):not(.ni-left-bottom) {
    @include transition(transform 0.5s, opacity 0.2s);
    @include transition-delay(0.8s);
    @include opacity(0);
  }
}

.ni-left-top,
.ni-left-bottom {
  width: 670px;
  height: 2px;

  &::before,
  &::after {
    position: absolute;
    background: rgba($color: #a18591, $alpha: 0.1);
    content: '';
    top: 0;
    width: 0;
    height: 100%;
    @include transition(width 0.4s ease-out);
    @include transition-delay(1s);
  }

  &::before {
    right: 50%;
  }

  &::after {
    left: 50%;
  }
}

.ni-left-top {
  left: 75px;
  top: 425px;
}

.ni-left-bottom {
  left: -55px;
  top: 445px;
}

.ni-top-left {
  position: absolute;
  background: rgba($color: #e8f0f3, $alpha: 0.2);
  top: -15px;
  width: 2px;
  height: 180px;
  left: 600px;
  @include transform(rotate(-28deg));
}

.ni-top-right {
  position: absolute;
  background: rgba($color: #e8f0f3, $alpha: 0.44);
  top: -15px;
  width: 2px;
  height: 240px;
  left: 635px;
  @include transform(rotate(-28deg));
}

.ni-bottom-left {
  position: absolute;
  background: rgba($color: #e8f0f3, $alpha: 0.34);
  bottom: -20px;
  width: 2px;
  height: 365px;
  left: 720px;
  @include transform(rotate(-28deg));
}

.production {
  padding: 75px 0 160px;
  position: relative;
  min-height: 400px;
}

.production-filter {
  width: 468px;
  margin: 0 auto 40px;

  .mat-select-trigger {
    background: #f2f2f2;
    height: 53px;
    @include border-radius(50px);
    width: 100%;

    &:hover {
      .mat-select-arrow-wrapper {
        background: $color-1;
      }
    }
  }

  .mat-select-value {
    vertical-align: middle;
    padding: 0 40px;
  }

  .mat-select-arrow-wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 53px;
    text-align: center;
    vertical-align: middle;
    @include border-radius(50%);
    background: #5dc3ff;
    @include transition(background-color 0.3s);
  }

  .mat-select-arrow {
    border-top-color: white;
    position: absolute;
    top: calc(50% - 1.5px);
    left: calc(50% - 3.5px);
    margin: 0;
    @include transition(border-color 0.3s);
  }
}

.test {
  width: 390px;
  height: 40px;
  position: relative;

  &::before {
    @include inline-block;
    width: 0;
    height: 0;

    border: {
      left: calc(390px / 2) solid transparent;
      right: calc(390px / 2) solid transparent;
      top: 40px solid #000;
    }

    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }

  &::after {
    @include inline-block;
    width: 0;
    height: 0;

    border: {
      left: calc(390px / 2 - 2px) solid transparent;
      right: calc(390px / 2 - 2px) solid transparent;
      top: 39px solid #fff;
    }

    content: '';
    position: absolute;
    left: 2px;
    top: 0;
  }
}

.production-list {
  margin-bottom: 40px;

  .owl-carousel {
    .owl-dots {
      display: none;
    }

    .owl-nav {
      position: absolute;
      height: 0;
      top: 50%;
      width: 100%;
      margin: 0;
      left: 0;
    }

    .nav-btn {
      position: absolute;
      cursor: pointer;
      border: 1px solid $border-color;
      @include border-radius(50%);
      width: 60px;
      height: 60px;
      text-align: center;
      top: -50px;
      background: #fff;
      @include transition(border 0.3s);

      i {
        font-size: 36px;
        color: #8e8e8e;
        @include inline-block;
        vertical-align: top;
        margin-top: 10px;
        @include transition(all 0.3s);
      }

      &:hover {
        border-color: $color-1;

        i {
          color: $color-1;
          @include transform(scale(1.2));
        }
      }
    }

    .prev-slide {
      left: -40px;
    }

    .next-slide {
      right: -40px;
    }

    .owl-prev.disabled,
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    .owl-item {
      @include transform(rotateY(180deg));
      @include transition(transform 0.5s);

      &.active {
        @include transform(rotateY(0));
      }
    }

    .item {
      background: url(../img/slide-bg.jpg) repeat;
      @include border-radius(20px);
      padding: 0 35px 35px;
      text-align: center;
      border: 1px solid transparent;
      @include transition(all 0.3s);
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        @include border-radius(20px);
        background: #fff;
        @include opacity(0);
        @include transition(all 0.3s);
        z-index: 0;
      }

      >* {
        position: relative;
        z-index: 1;
      }

      &:hover {
        border-color: $border-color;
        @include box-shadow(0 0 14px rgba(0, 0, 0, 0.1));

        &::after {
          @include opacity(1);
        }

        .prod-btn-cont {
          @include opacity(1);
          visibility: visible;
        }

        .prod-price {
          color: $color-3;
        }
      }

      img {
        display: block;
        margin: -65px auto 20px;
        width: auto;
        max-width: 100%;
      }
    }
  }

  .prod-title {
    font-size: 24px;
    font-family: 'Ubuntu-Condensed', sans-serif;
    color: $defaultFontColor;
    line-height: 1;
    margin-bottom: 25px;
    height: 50px;
    overflow: hidden;

    a {
      color: $defaultFontColor;
    }
  }

  .prod-desc {
    ul {
      @include reset-list;
      margin-bottom: 35px;

      li {
        border-bottom: 1px solid $border-color;
        font-family: 'Ubuntu-Light', sans-serif;
        padding-bottom: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .prod-price {
    font-size: 47px;
    font-family: 'Ubuntu-Medium', sans-serif;
    color: #000000;
    @include transition(color 0.3s);

    span {
      font-size: 30px;
      margin-left: 6px;
    }
  }

  .prod-btn-cont {
    @include opacity(0);
    visibility: hidden;
    @include transition(opacity 0.3s);
    background: #fff;
    position: absolute !important;
    left: -1px;
    width: calc(100% + 2px);
    height: 85px;
    top: calc(100% - 25px);
    @include box-shadow(0 14px 14px rgba(0, 0, 0, 0.1));

    border: {
      left: 1px solid $border-color;
      right: 1px solid $border-color;
    }

    padding: 20px 35px 0;

    .btn {
      width: 100%;
      text-align: center;
    }

    &::before,
    &::after {
      height: 30px;
      width: 20px;
      content: '';
      bottom: 0;
      margin-bottom: -25px;
      position: absolute;
      z-index: 2;
    }

    &::before {
      left: -1px;
      @include border-radius(0 0 0 20px);
      border-left: 1px solid $border-color;
    }

    &::after {
      right: -1px;
      @include border-radius(0 0 20px 0);
      border-right: 1px solid $border-color;
    }
  }

  .prod-bottom-border {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 100%;
    background: #fff;
    left: 0;

    i {
      height: 40px;
      width: 40px;
      @include border-radius(0 0 20px 20px);
      background: #fff;
      position: absolute;
      bottom: -12px;
      z-index: 2;
      left: calc(50% - 20px);
    }

    &::before {
      width: 51.5%;
      height: 100%;
      @include border-radius(0 0 3px 15px);
      @include transform(rotate(10deg));
      border-bottom: 1px solid $border-color;
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      @include box-shadow(3px 10px 14px 0 rgba(0, 0, 0, 0.1));
    }

    &::after {
      width: 51.5%;
      height: 100%;
      @include border-radius(0 0 15px 3px);
      @include transform(rotate(-10deg));
      border-bottom: 1px solid $border-color;
      position: absolute;
      right: 0;
      bottom: 0;
      content: '';
      @include box-shadow(-3px 10px 14px 0 rgba(0, 0, 0, 0.1));
    }
  }

  .owl-stage-outer {
    padding: 70px 10px 140px 10px;
    margin: 0 -10px;
  }
}

.texture-list {
  position: relative;

  .owl-carousel {
    .owl-dots {
      position: absolute;
      bottom: calc(100% + 10px);
      right: 0;

      .owl-dot span {
        @include transition(background-color 0.3s);
      }

      .owl-dot.active span,
      .owl-dot:hover span {
        background-color: $color-1;
      }
    }

    .owl-nav {
      position: absolute;
      height: 0;
      top: 50%;
      width: 100%;
      left: 0;
      margin: 0;
    }

    .nav-btn {
      position: absolute;
      cursor: pointer;
      border: 1px solid $border-color;
      @include border-radius(50%);
      width: 60px;
      height: 60px;
      text-align: center;
      top: -40px;
      background: rgba($color: #fff, $alpha: 0.6);
      @include transition(border 0.3s);

      i {
        font-size: 36px;
        color: #8e8e8e;
        @include inline-block;
        vertical-align: top;
        margin-top: 10px;
        @include transition(all 0.3s);
      }

      &:hover {
        border-color: $color-1;

        i {
          color: $color-1;
          @include transform(scale(1.2));
        }
      }
    }

    .prev-slide {
      left: -40px;
    }

    .next-slide {
      right: -40px;
    }

    .owl-prev.disabled,
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    .owl-item {
      @include transform(scale(0.3));
      @include transition(transform 0.8s);

      &.active {
        @include transform(scale(1));
      }
    }

    .item {
      @include transition(all 0.4s);

      img {
        width: 100%;
        display: block;
      }

      &:hover {
        @include transform(translate(0, 16px));
        @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
      }
    }

    .owl-stage-outer {
      padding: 10px 20px 32px 16px;
      margin: -10px -20px -32px;
    }
  }
}

.texture-line {
  width: 1px;
  background: #ebebeb;
  @include transform(rotate(-45deg));
  position: absolute;
  bottom: -64px;
  height: 450px;
  left: 30px;
}

.our-advs {
  padding-bottom: 80px;

  // &.visible {
  //   .advs-list ul li, .advs-list ol li {
  //     &::before, p, div {
  //       @include transform(translate(0));
  //       @include opacity(1);
  //     }
  //   }
  // }
  .title-1 {
    text-align: center;
    margin-bottom: 80px;
  }

  .container {
    position: relative;
  }
}

.advs-list {
  float: left;
  width: 790px;

  ul,
  ol {
    @include reset-list;
    counter-reset: list 0;
    font-size: 0;
    margin-left: -110px;
    width: auto;

    li {
      list-style-type: none;
      font-family: 'Montserrat-Light', sans-serif;
      vertical-align: top;
      width: 325px;
      padding-left: 120px;
      position: relative;
      font-size: 0;
      margin-left: 110px;
      @include inline-block;
      vertical-align: top;
      margin-bottom: 60px;

      // &:nth-child(1) {
      //   p {
      //     @include transition-delay(.5s);
      //   }
      //   div {
      //     @include transition-delay(1s);
      //   }
      // }
      // &:nth-child(2) {
      //   &::before {
      //     @include transition-delay(1.1s);
      //   }
      //   p {
      //     @include transition-delay(1.6s);
      //   }
      //   div {
      //     @include transition-delay(2.1s);
      //   }
      // }
      // &:nth-child(3) {
      //   &::before {
      //     @include transition-delay(2.2s);
      //   }
      //   p {
      //     @include transition-delay(2.7s);
      //   }
      //   div {
      //     @include transition-delay(3.2s);
      //   }
      // }
      // &:nth-child(4) {
      //   &::before {
      //     @include transition-delay(3.3s);
      //   }
      //   p {
      //     @include transition-delay(3.8s);
      //   }
      //   div {
      //     @include transition-delay(4.3s);
      //   }
      // }
      &::before {
        counter-increment: list;
        content: '0'counter(list);
        font-size: 176px;
        color: $color-1;
        position: absolute;
        left: 0;
        top: -40px;
        font-family: 'Copyist', sans-serif;
        line-height: 1;
        // @include transform(translate(0, 40%));
        // @include opacity(0);
        // @include transition(opacity 0.4s, transform 0.5s ease);
      }

      // p,div {
      //   @include transform(translate(100%, 0));
      //   @include opacity(0);
      //   @include transition(opacity 0.5s, transform 0.4s ease);
      // }
      p {
        margin-bottom: 25px;
        font-size: 24px;

        strong,
        b {
          font-family: 'Montserrat-Medium', sans-serif;
          color: #000000;
          font-size: 24px;
        }
      }

      div {
        font-size: 14px;
      }
    }
  }
}

.advs-imgs {
  min-height: 505px;
  width: 575px;
  float: right;
  height: 100%;
  position: relative;
}

.adv-img {
  position: absolute;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    @include opacity(0);
    @include transition(opacity 0.3s ease-out,
      translate 0.4s ease-out,
      scale 0.5s ease-out);
    @include transition-delay(1.2s);
    @include box-shadow(-12px 12px 15px rgba(0, 0, 0, 0.2));
    @include transform(rotate(-45deg) scale(0.5) translate(15%, -15%));
  }

  &.visible {
    &::before {
      @include opacity(1);
      @include transform(rotate(-45deg) scale(0.7) translate(0));
    }

    .adv-img-part {
      @include transform(translate(0) rotate(0));
      @include opacity(1);
    }
  }
}

.adv-img-part {
  position: absolute;
  display: block;
  @include transition(transform 0.5s, opacity 0.4s);
  @include opacity(0);

  background: {
    repeat: no-repeat;
  }
}

.adv-img-1 {
  top: -50px;
  left: 0;
  width: 264px;
  height: 264px;

  .adv-img-part {
    background-image: url(../img/adv-1.png);
  }

  .adv-img-part-1 {
    width: 105px;
    height: 52px;
    bottom: 0;
    left: 80px;
    background-position: -80px bottom;
    @include transform(translate(0, 100%));
    @include transition-delay(0.1s);
  }

  .adv-img-part-2 {
    width: 147px;
    height: 52px;
    bottom: 52px;
    left: 28px;
    background-position: -28px -159px;
    @include transform(translate(-100%, 0));
    @include transition-delay(0.2s);
  }

  .adv-img-part-3 {
    width: 61px;
    height: 52px;
    bottom: 52px;
    left: 175px;
    background-position: -175px -159px;
    @include transform(translate(100%, 0));
    @include transition-delay(0.3s);
  }

  .adv-img-part-4 {
    width: 74px;
    height: 51px;
    bottom: 104px;
    left: 0;
    background-position: 0 -108px;
    @include transform(translate(0, -100%));
    @include transition-delay(0.4s);
  }

  .adv-img-part-5 {
    width: 190px;
    height: 51px;
    bottom: 104px;
    left: 74px;
    background-position: -74px -108px;
    @include transform(rotate(40deg) translate(0, -50px));
    @include transition-delay(0.5s);
  }

  .adv-img-part-6 {
    width: 151px;
    height: 52px;
    bottom: 155px;
    left: 24px;
    background-position: -24px -56px;
    @include transform(translate(-100%, 0));
    @include transition-delay(0.65s);
  }

  .adv-img-part-7 {
    width: 65px;
    height: 52px;
    bottom: 155px;
    left: 173px;
    background-position: -173px -56px;
    @include transform(translate(100%, 0));
    @include transition-delay(0.8s);
  }

  .adv-img-part-8 {
    width: 112px;
    height: 56px;
    top: 1px;
    left: 76px;
    background-position: -76px 0;
    @include transform(translate(0, -100%));
    @include transition-delay(1s);
  }
}

.adv-img-2 {
  top: 0;
  left: 220px;
  width: 397px;
  height: 398px;

  .adv-img-part {
    background-image: url(../img/adv-2.png);
  }

  .adv-img-part-1 {
    width: 62px;
    height: 62px;
    bottom: 0;
    left: 138px;
    background-position: -138px bottom;
    @include transform(translate(-100%, 100%));
    @include transition-delay(1s);
  }

  .adv-img-part-2 {
    width: 59px;
    height: 62px;
    bottom: 0;
    left: 200px;
    background-position: -200px bottom;
    @include transform(translate(100%, 100%));
    @include transition-delay(1.18s);
  }

  .adv-img-part-3 {
    width: 247px;
    height: 63px;
    bottom: 62px;
    left: 75px;
    background-position: -75px -273px;
    @include transform(translate(0, -100%));
    @include transition-delay(1.3s);
  }

  .adv-img-part-4 {
    width: 190px;
    height: 65px;
    bottom: 124px;
    left: 10px;
    background-position: -10px -208px;
    @include transform(translate(-100%, 0));
    @include transition-delay(1.4s);
  }

  .adv-img-part-5 {
    width: 187px;
    height: 65px;
    bottom: 124px;
    left: 200px;
    background-position: -200px -208px;
    @include transform(translate(100%, 0));
    @include transition-delay(1.4s);
  }

  .adv-img-part-6 {
    width: 75px;
    height: 77px;
    bottom: 189px;
    left: 0;
    background-position: 0 -131px;
    @include transform(translate(-100%, -100%));
    @include transition-delay(1.5s);
  }

  .adv-img-part-7 {
    width: 251px;
    height: 77px;
    bottom: 189px;
    left: 75px;
    background-position: -75px -131px;
    @include transform(translate(0, -100%));
    @include transition-delay(1.6s);
  }

  .adv-img-part-8 {
    width: 71px;
    height: 77px;
    bottom: 189px;
    right: 0;
    background-position: right -131px;
    @include transform(translate(100%, -100%));
    @include transition-delay(1.7s);
  }

  .adv-img-part-9 {
    width: 132px;
    height: 64px;
    top: 67px;
    left: 68px;
    background-position: -68px -67px;
    @include transform(translate(-100%, 0));
    @include transition-delay(1.8s);
  }

  .adv-img-part-10 {
    width: 128px;
    height: 64px;
    top: 67px;
    left: 200px;
    background-position: -200px -67px;
    @include transform(translate(100%, 0));
    @include transition-delay(1.8s);
  }

  .adv-img-part-11 {
    width: 134px;
    height: 67px;
    top: 0;
    left: 131px;
    background-position: -131px 0;
    @include transform(translate(0, -120%));
    @include transition-delay(2s);
  }
}

.adv-img-3 {
  top: 306px;
  left: 144px;
  width: 235px;
  height: 236px;
  background: url(../img/adv-3.png) no-repeat;
  @include transform(scale(2.4));
  @include transition(all 0.4s ease-in);
  @include opacity(0);
  @include transition-delay(2.3s);

  &::after {
    @include transition(transform 0.2s ease-in,
      box-shadow 0.5s ease-out,
      opacity 0.9s ease-in);
    @include transition-delay(2.6s);
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include transform(rotate(-45deg) scale(0.7));
  }

  &.visible {
    @include opacity(1);
    @include transform(scale(1));

    &::after {
      @include box-shadow(0 0 120px 25px rgba(0, 0, 0, 0.5));
      @include opacity(0);
    }
  }
}

.adv-line {
  position: absolute;
}

.adv-line-left {
  left: -90px;
  width: 610px;
  height: 1px;
  background: rgba($color: $color-1, $alpha: 0.67);
  @include transform(rotate(45deg));
  top: 230px;
}

.adv-line-right {
  right: 145px;
  height: 460px;
  width: 1px;
  background: rgba($color: #a5a5a5, $alpha: 0.2);
  @include transform(rotate(-45deg));
  top: -160px;
}

.adv-line-bottom {
  right: 280px;
  height: 460px;
  width: 1px;
  background: rgba($color: $color-3, $alpha: 0.67);
  @include transform(rotate(-45deg));
  bottom: -150px;
}

.our-folio {
  position: relative;
  min-height: 386px;
  padding-top: 50px;
  padding-bottom: 80px;

  &::before {
    height: 0;
    width: 0;
    @include transition(border-width 0.4s ease-in);

    border: {
      top: 0 solid $color-1;
      left: 960px solid transparent;
      right: 960px solid transparent;
    }

    top: 0;
    left: calc(50% - 800px);
    margin-left: -160px;
    position: absolute;
    content: '';
  }

  &.visible {
    &::before {
      border-top-width: 386px;
    }
  }

  .container {
    position: relative;

    .title-1 {
      text-align: center;
      margin-bottom: 102px;
      color: #fff;
    }
  }
}

.folio-slider {
  .owl-carousel {
    .owl-stage-outer {
      height: 420px;
      padding-top: 82px;
    }

    .owl-dots {
      display: none;
    }

    .owl-nav {
      position: absolute;
      height: 0;
      top: 50%;
      width: 100%;
      margin: 0;
      left: 0;
    }

    .nav-btn {
      position: absolute;
      cursor: pointer;
      border: 1px solid $border-color;
      @include border-radius(50%);
      width: 60px;
      height: 60px;
      text-align: center;
      top: -45px;
      background: rgba($color: #fff, $alpha: 0.71);
      @include transition(border 0.3s);

      i {
        font-size: 36px;
        color: #8e8e8e;
        @include inline-block;
        vertical-align: top;
        margin-top: 10px;
        @include transition(all 0.3s);
      }

      &:hover {
        border-color: $color-1;

        i {
          color: $color-1;
          @include transform(scale(1.2));
        }
      }
    }

    .prev-slide {
      left: -40px;
    }

    .next-slide {
      right: -40px;
    }

    .owl-prev.disabled,
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    .owl-item {
      @include transition(transform 0.5s);
      @include transform(scale(1.75));

      &:not(.central) {
        // margin-top: 80px;
        @include transform(scale(1));
      }

      &.central {
        border: 2px solid #fff;
        @include box-shadow(0 10px 15px -5px rgba(0, 0, 0, 0.2));
      }
    }

    .item {
      img {
        width: 100%;
      }
    }
  }
}

.news {
  position: relative;
  overflow: hidden;

  &::after {
    height: 339px;
    width: 677px;
    background: url(../img/news-bg.png) no-repeat center bottom/ 100% 100%;
    content: '';
    position: absolute;
    bottom: -100%;
    left: calc(50% - 338.5px);
    @include transition(bottom 0.4s ease-in);
  }

  &.visible {
    &::after {
      bottom: 0;
    }
  }

  .container {
    position: relative;
    padding-bottom: 92px;
  }

  .title-1 {
    text-align: center;
    margin-bottom: 35px;
  }
}

.news-list {
  @include reset-list;
  @include clearfix;
  margin: 0 -45px;
  position: relative;
  z-index: 1;
  width: auto !important;
  display: block;

  li {
    float: left;
    width: 25%;
    padding: 35px 45px;
    position: relative;
    @include transition(background-color 0.4s ease-out);

    &:hover {
      background: rgba(255, 255, 255, 0.72);

      .news-learn-more {
        &::before {
          width: 0;
        }

        a {
          width: 100%;
        }
      }
    }
  }

  .borders-hover {
    background: $color-1 !important;
  }

  .borders-hover.border-left,
  .borders-hover.border-right {
    width: 1px;
  }

  .borders-hover.border-top,
  .borders-hover.border-bottom {
    height: 1px;
  }
}

.news-date {
  color: #b8b8b8;
  font-family: 'CenturyGothic-Bold', sans-serif;
  margin-bottom: 15px;
}

.news-title {
  font-family: 'CenturyGothic-Bold', sans-serif;
  color: #000000;
  height: 45px;
  overflow: hidden;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.1;

  a {
    color: #000000;
  }
}

.news-desc {
  color: #000000;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 12px;
  height: 72px;
  overflow: hidden;
  margin-bottom: 20px;
}

.news-learn-more {
  position: relative;
  font-size: 16px;
  font-family: 'CenturyGothic', sans-serif;
  max-width: 300px;

  &::before {
    height: 8px;
    background: $color-1;
    position: absolute;
    top: 0;
    right: 0;
    @include transition(width 0.5s ease);
    width: 100%;
    z-index: 2;
    content: '';
  }

  a {
    position: relative;
    display: block;
    white-space: nowrap;
    @include transition(width 0.5s ease);
    width: 0;
    @include dec-res;
    overflow: hidden;
    color: $color-1 !important;
  }

  span {
    @include inline-block;
    padding-right: 56px;
    background: url(../img/arrow-right.png) no-repeat right center;
  }
}

.news-line {
  position: absolute;
}

.news-line-left-top {
  left: 71px;
  width: 1px;
  height: 200px;
  background: rgba($color: #858585, $alpha: 0.1);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 50px;
}

.news-line-left-bottom {
  left: 180px;
  width: 1px;
  height: 510px;
  background: rgba(235, 130, 0, 0.5);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -40px;
}

.news-line-right-top {
  right: 159px;
  width: 1px;
  height: 450px;
  background: rgba(235, 130, 0, 0.3);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 0;
}

.news-line-right-bottom {
  right: 159px;
  width: 1px;
  height: 460px;
  background: rgba($color: #848484, $alpha: 0.12);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -30px;
}

.reviews {
  background: url(../img/reviews-bg.jpg) no-repeat center center / cover;
  padding: 40px 0 100px;

  .title-1 {
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
  }
}

.reviews-slider {
  position: relative;

  &::after {
    height: calc(100% + 40px);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    content: '';
    background: url(../img/reviews-border.png) no-repeat 0 0 / 100% 100%;
  }

  .owl-carousel {
    .owl-nav {
      position: absolute;
      height: 0;
      top: 50%;
      width: 100%;
      margin: 0;
      left: 0;
    }

    .nav-btn {
      position: absolute;
      cursor: pointer;
      border: 1px solid $border-color;
      @include border-radius(50%);
      width: 60px;
      height: 60px;
      text-align: center;
      top: -30px;
      background: rgba($color: #fff, $alpha: 0.24);
      @include transition(border 0.3s);

      i {
        font-size: 36px;
        color: #8e8e8e;
        @include inline-block;
        vertical-align: top;
        margin-top: 10px;
        @include transition(all 0.3s);
      }

      &:hover {
        border-color: $color-1;

        i {
          color: $color-1;
          @include transform(scale(1.2));
        }
      }
    }

    .prev-slide {
      left: -40px;
    }

    .next-slide {
      right: -40px;
    }

    .owl-prev.disabled,
    .owl-next.disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    .owl-item {
      &.active {

        .review-header,
        .review-text {
          @include transform(translate(0));
          @include opacity(1);
        }
      }
    }

    .item {
      font-family: 'CenturyGothic', sans-serif;
      color: #fff;
      font-size: 16px;
      padding: 60px 140px;
    }
  }
}

.review-text {
  @include transition(transform 0.5s, opacity 0.3s);
  @include transform(translate(0, -70%));
  @include opacity(0);
}

.review-header {
  @include clearfix;
  margin-bottom: 25px;
  @include transition(transform 0.5s, opacity 0.3s);
  @include transform(translate(0, 70%));
  @include opacity(0);

  >div {
    overflow: hidden;
    font-size: 16px;

    p {
      font-size: 18px;
      margin-bottom: 4px;
    }
  }
}

.review-img {
  width: 59px !important;
  border: 1px solid #fff;
  float: left;
  margin-right: 25px;
}

@media (max-width: 1599px) {
  .ms-desc {
    font-size: 16.5px;
    left: calc(50% + 265px);
  }

  .ms-pagination {
    left: calc(50% + 265px);
  }

  .ms-counter {
    font-size: 360px;
  }

  .ms-counter ul li {
    left: 95px;
  }

  .advs-list {
    width: 755px;

    ul {
      width: auto !important;

      li {
        width: 300px;
        padding-left: 100px;

        &::before {
          font-size: 156px;
        }
      }
    }
  }

  .advs-list ul li p strong,
  .advs-list ul li p b,
  .advs-list ol li p strong,
  .advs-list ol li p b {
    font-size: 22px;
  }

  .advs-imgs {
    width: 550px;
  }

  .adv-line-left {
    top: 270px;
  }

  .adv-line-right {
    top: -140px;
  }

  .adv-line-bottom {
    right: 190px;
  }
}

.product-color-html {
  height: 35px;
  width: 35px;
  @include border-radius(50%);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}


@media (max-width: 1439px) {
  .ms-imgs {
    li {
      top: 72px;

      a {
        i {
          width: 420px;
          height: 420px;
        }
      }
    }
  }

  .ms-imgs {
    height: 494px;
  }

  .ms-imgs li.prev-img {
    left: -125px;
  }

  .ms-imgs li.next-img {
    left: calc(100% - (420px - 125px));
  }

  .ms-imgs li.current-img {
    left: calc(50% - 210px);
  }

  .ms-counter {
    font-size: 300px;

    ul {
      li {
        left: 78px;
      }
    }
  }

  .ms-desc {
    left: calc(50% + 240px);
    font-size: 14px;
    bottom: 95px;

    div {
      margin-bottom: 2px;
    }
  }

  .ms-pagination {
    bottom: 55px;
    left: calc(50% + 240px);
  }

  .left-top {
    top: -35px;
    left: 92px;
    height: 280px;
  }

  .left-bottom {
    left: 125px;
    height: 366px;
    bottom: 70px;
  }

  .left-bottom-shorter {
    left: 94px;
    height: 290px;
  }

  .content-top {
    padding-bottom: 160px;
  }

  .right-bottom {
    bottom: 75px;
    right: 80px;
    height: 300px;
  }

  .ni-imgs {
    @include transform(scale(0.8));
    width: 725px;
    margin: -66px 0 0 -66px;
  }

  .ni-desc {
    padding-left: 20px;

    h2 {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  .maru-new-items .container {
    height: 550px;
  }

  .ni-bottom-left {
    bottom: -170px;
    left: 730px;
  }

  .production-list .owl-carousel .item img {
    width: 175px;
  }

  .production-list .prod-title {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .production-list .prod-desc ul {
    margin-bottom: 28px;
  }

  .production-list .prod-price {
    font-size: 38px;

    span {
      font-size: 24px;
    }
  }

  .production {
    padding: 60px 0 100px;
  }

  .advs-imgs {
    width: 440px;
  }

  .adv-line-bottom {
    right: 62px;
  }

  .adv-line-right {
    top: -90px;
    right: -20px;
  }

  .folio-slider .owl-carousel .nav-btn {
    top: -64px;
  }

  .our-folio {
    padding-bottom: 15px;
  }

  .our-folio .container .title-1 {
    margin-bottom: 72px;
  }

  .news-date {
    font-size: 13px;
  }

  .news-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .news-desc {
    font-size: 11px;
    height: 66px;
  }

  .news-learn-more {
    font-size: 13.5px;
  }

  .news .container {
    padding-bottom: 52px;
  }

  .news::after {
    width: 550px;
    left: calc(50% - 275px);
    height: 275px;
  }

  .news-line-left-top {
    left: 95px;
    height: 180px;
  }

  .news-line-left-bottom {
    height: 480px;
  }

  .news-line-right-bottom {
    right: 120px;
    height: 410px;
  }

  .news-line-right-top {
    right: 120px;
    height: 400px;
  }

  .reviews-slider .owl-carousel .item {
    padding: 45px 75px;
  }
}

// content end

.footer {
  padding: 100px 0 30px;
}

.footer-top {
  @include clearfix;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer-contacts {
  float: left;
  width: 50%;
  font-family: 'CenturyGothic', sans-serif;

  >div {
    float: left;
    width: 50%;
    padding-right: 100px;
  }

  a {
    color: $color-2;
    font-family: 'CenturyGothic-Bold', sans-serif;
  }
}

.footer-top-right {
  float: left;
  width: 50%;
  padding-left: 40px;
}

.nets {
  float: left;

  a {
    float: left;
    margin-right: 12px;
    @include dec-res;
    @include transition(box-shadow 0.3s);
    display: block;

    img {
      display: block;
    }

    &:hover {
      @include box-shadow(0 3px 8px rgba($color: black, $alpha: 0.3));
    }
  }
}

.footer-feedback {
  float: right;
  width: 297px;
  text-align: center;
  font-family: 'Ubuntu-Medium', sans-serif;
  color: #585858;
  margin-top: -10px;

  h4 {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

.copyright {
  @include clearfix;
  font-size: 12px;
  font-family: 'PTSans-Regular', sans-serif;

  img {
    float: left;
    display: block;
    margin-right: 22px;
  }

  div {
    overflow: hidden;
    max-width: 410px;
  }
}

@media (max-width: 1439px) {
  .footer-contacts {
    font-size: 13px;
  }

  .footer-feedback h4 {
    font-size: 20px;
  }

  .footer-feedback p {
    font-size: 13px;
  }
}

// footer end
.order-form-cont {
  .select-address {
    margin-top: 22px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
  .mat-slide-toggle-thumb {
    background: #5dc3ff !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
  .mat-slide-toggle-bar,
  .mat-slide-toggle-thumb {
    background: #f2f2f2;
  }

  .mat-slide-toggle-bar {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .mat-slide-toggle {
    position: relative;
    overflow: visible;
  }

  .country-sp {
    font-size: 18px;
    font-family: 'CenturyGothic', sans-serif;
  }

  .country-sp-1 {
    margin-right: 5px;
  }

  .country-sp-2 {
    left: calc(100% + 10px);
    position: absolute;
    top: 0;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-2;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $color-2;
}

.mob-logo,
.nav-header {
  display: none;
}

@media (max-width: 767.95px) {
  .main-container {
    min-width: 320px;
  }

  .container {
    width: auto;
    padding: 0 15px;
  }

  .mob-logo {
    display: block;
    width: 51px;
    margin: 0 auto;
  }

  .header-inner {
    padding: 15px;
  }

  .lang-nav,
  .cart-link,
  .feedback {
    top: 15px;
  }

  .cart-link {
    left: 50px;
  }

  .fdb-btn>span {
    display: none;
  }

  .address-panel {
    padding: 0 30px;
  }

  .tab-btns {
    .btn-default {
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  .nav-header {
    display: block;
    right: 40px;
    position: absolute;
    top: 14px;

    span {
      display: block;
      cursor: pointer;
      width: 35px;
      height: 24px;
      z-index: 20;
      position: relative;
      margin-bottom: 2px;

      &::before,
      &::after,
      i {
        display: block;
        height: 5px;
        width: 100%;
        @include transition(all 0.4s);
        position: absolute;
        background: #ed2c2c;
        left: 0;
        // border: 1px solid #ecc32f;
        @include border-radius(2px);
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 0;
        @include transition-delay(0.3s);
      }

      &::after {
        bottom: 0;
        @include transition-delay(0.3s);
      }

      i {
        top: 50%;
        margin-top: -2.5px;
      }
    }

    &:not(.active) {
      // @include opacity(0.8);
    }

    &.active {
      position: fixed;
      top: 29px;
      right: 55px;
      z-index: 100;

      img {
        @include opacity(0);
      }

      span {

        &::before,
        &::after,
        i {
          // background: #ecc32f;
          // @include border-radius(0);
        }

        i {
          height: 100%;
          top: 0;
          margin-top: 0;
          @include opacity(0);
          @include box-shadow(0 0 20px 10px $color-1);
        }

        &::before {
          @include transform(rotate(45deg));
          top: 9.5px;
        }

        &::after {
          @include transform(rotate(-45deg));
          bottom: 9.5px;
        }
      }
    }
  }

  .main-nav {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    margin-right: 0;
    left: 0;
    @include display-flex;
    @include align-items(center);
    padding: 30px 15px;
    z-index: 99;
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow: auto;

    &:not(.opened) {
      // display: none;
      visibility: hidden;
      @include opacity(0);
      z-index: -1;
      top: -200%;
      left: -200%;
    }

    li.logo {
      display: none;
    }

    >* {
      @include inline-block;
      width: 100%;
    }

    ul {
      margin: 0 !important;

      >li {
        display: block;
        @include transition(all 0.4s);
        @include opacity(0);
        @include transform(translate(0, 50px));
        text-transform: uppercase;
        margin: 0 !important;
        float: none;
        margin: 15px 0 !important;

        a {
          font-size: 16px;
          border-bottom: 2px solid transparent;
          display: block;
          padding: 15px;
          text-align: left;
          color: #000;
          text-align: center;
        }

        &:not(.toggled) {
          ul {
            display: none !important;
          }
        }

        &.active {
          >a {
            // border-color: $color-1;
          }

          ul {
            height: auto;
            position: relative;
            left: 0;
            top: 0;
            opacity: 1;
            @include box-shadow(none);
            width: auto;
            @include transform(translate(0));
            text-align: center;
            padding: 0;
            background: none;

            li {
              margin: 0;

              a {
                font-size: 14px;
              }
            }
          }
        }
      }

      ul {
        height: 0;
        overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
      }
    }

    &.opened {
      ul {
        >li {
          @include opacity(1);
          @include transform(translate(0));
        }
      }
    }
  }

  @for $i from 1 through $navLinksLength {
    .main-nav ul>li:nth-of-type(#{$i}) {
      $i: $i / 9;
      @include transition-delay(#{$i}s);
    }
  }

  .current-img {
    z-index: 3;
  }

  .ms-imgs li:not(.current-img) {
    @include opacity(0.5);
  }

  .ms-desc {
    left: 0;
    z-index: 2;
    bottom: 50px;
    width: 100%;

    li {
      @include inline-block;
      padding: 15px 20px;

      &.active {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .ms-counter {
    font-size: 200px;
    bottom: 0;
    left: calc(50% + 70px);

    ul {
      li {
        left: 50px;
      }
    }
  }

  .ni-imgs {
    display: none;
  }

  .maru-new-items {
    padding: 60px 0;
  }

  .maru-new-items .container {
    height: auto;
  }

  .ni-desc {
    padding-left: 0;
  }

  .ni-desc .btn {
    width: 100%;
  }

  .production-filter {
    width: 100%;
  }

  .production-list {
    .owl-item {
      &.active {
        .item {
          border-color: $border-color;
          @include box-shadow(0 0 14px rgba(0, 0, 0, 0.1));

          &::after {
            @include opacity(1);
          }

          .prod-btn-cont {
            @include opacity(1);
            visibility: visible;
          }

          .prod-price {
            color: $color-3;
          }
        }
      }
    }
  }

  .texture-list .owl-carousel .owl-dots {
    display: none;
  }

  .advs-list {
    width: auto;

    ul {
      margin: 0;

      li {
        width: 100%;
        margin: 0 0 50px;
      }
    }
  }

  .folio-slider .owl-carousel .owl-stage-outer {
    padding-top: 0;
    height: auto;
  }

  .news-list {
    width: auto;
    margin: 0;

    li {
      width: 100%;
      margin: 0 0 40px;
      background: rgba(255, 255, 255, 0.72);

      .news-learn-more {
        &::before {
          width: 0;
        }

        a {
          width: 100%;
        }
      }
    }
  }

  .folio-slider .owl-carousel .nav-btn {
    top: -25px;
  }

  .reviews-slider {
    &:after {
      display: none;
    }

    .owl-carousel .item {
      padding: 20px;
    }
  }

  .reviews {
    padding: 30px 0 40px;
  }

  .footer {
    padding: 30px 0 30px;
  }

  .footer-contacts {
    float: none;
    width: auto;
    margin-bottom: 15px;
    text-align: center;

    >div {
      width: auto;
      padding: 0;
      float: none;
      margin-bottom: 20px;
    }
  }

  .footer-top-right {
    width: auto;
    float: none;
    padding: 0;
    @include clearfix;
  }

  .nets {
    float: none;
    text-align: center;
    margin-bottom: 35px;

    p {
      margin: 0;
    }

    a {
      float: none;
      @include inline-block;
      margin: 0 10px;
    }
  }

  .footer-feedback {
    width: auto;
    float: none;
  }

  .cursor-cont {
    display: none;
  }

  .fdb-btn.active i {
    width: 26px;
  }

  .feedback-window {
    width: 320px !important;
    padding: 25px !important;
  }

  .header-images {
    display: none !important;
  }

  .content {
    padding-top: 0;
  }
}
