<ln-preloader *ngIf='!isLoaded'></ln-preloader>
<ng-container *ngIf='isLoaded'>
  <h1 class="title-1">{{'Портфолио' | getMessage}}</h1>
  <ul class="folio-list">
    <ng-container *ngFor='let image of images; let i = index'>
      <li [ngClass]="image | gridClass:i">
        <a [href]="image.url" data-fancybox='folio' [style.backgroundImage]="'url('+ image.thumbnail +')'">
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>
