// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.folio-list {
  @include reset-list;
  margin-left: -48px;
  @include clearfix;
  padding-top: 480px;
  position: relative;

  li {
    float: left;
    width: 192px;
    height: 192px;
    margin-left: 48px;
    margin-bottom: 45px;

    a {
      display: block;
      width: 100%;
      height: 100%;

      background: {
        repeat: no-repeat;
        position: center;
        size: cover;
      }

      ;
    }

    &.horizontal {
      width: 595px;
      height: 440px;
      top: 0;
      left: 48px;
      position: absolute;
      margin: 0;
    }

    &.medium {
      width: 335px;
      height: 204px;
      left: 692px;
      margin: 0;
      position: absolute;
    }

    &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3) {
      top: 237px;
    }

    &.vertical {
      margin: 0;
      right: 0;
      height: 440px;
      width: 367px;
      top: 0;
      position: absolute;
    }
  }
}


@media (max-width: 1599px) {

  .folio-list {
    li {
      width: 181px;
      height: 181px;
      margin-left: 48px;
      margin-bottom: 45px;


      &.horizontal {
        width: 570px;
      }

      &.medium {
        width: 320px;
        height: 204px;
        left: 665px;
      }

      &.vertical {
        width: 348px;
      }
    }
  }

}



@media (max-width: 1439px) {

  .folio-list {
    margin-left: -35px;

    li {
      width: 170px;
      height: 170px;
      margin-left: 35px;
      margin-bottom: 35px;

      &.horizontal {
        width: 540px;
        left: 35px;
      }

      &.medium {
        width: 270px;
        left: 610px;
      }

      &.vertical {
        width: 318px;
      }
    }
  }

}

@media (max-width: 767.95px) {
  .folio-list {
    padding: 0;
    margin: 0;

    li {
      position: static !important;
      margin: 0 0 30px !important;
      padding: 0 !important;
      width: 100% !important;
      height: 200px !important;
    }
  }
}
