<ln-prodcuts-filter (selectedCategory)="goToCatalog($event)" [categories]="categories" [slug]="categorySlug">
</ln-prodcuts-filter>
<div class="product-card-cont clearfix" *ngIf="product" [ngClass]="{ exposed: listExposed }">
  <div class="product-card" [ngClass]="{ 'full-width': !textures }">
    <div class="product-images">
      <div class="product-main-img">
        <a [href]="product.images[selectedImage]" [attr.data-fancybox]="product.slug"><img
            [src]="product.thumbs[selectedImage][1]" alt="" />
        </a>
      </div>
      <ul>
        <li *ngIf="product.images.main_img">
          <a (click)='onChangeImage("main_img")'
            [ngClass]='{"active": product.thumbs.main_img[1] === product.thumbs[selectedImage][1]}'><img
              [src]="product.thumbs.main_img[0]" alt="" /></a>
        </li>
        <li *ngIf="product.images.img1">
          <a (click)='onChangeImage("img1")'
            [ngClass]='{"active": product.thumbs.img1[1] === product.thumbs[selectedImage][1]}'><img
              [src]="product.thumbs.img1[0]" alt="" /></a>
        </li>
        <li *ngIf="product.images.img2">
          <a (click)='onChangeImage("img2")'
            [ngClass]='{"active": product.thumbs.img2[1] === product.thumbs[selectedImage][1]}'><img
              [src]="product.thumbs.img2[0]" alt="" /></a>
        </li>
        <!-- <li *ngIf="product.images.img3">
          <a (click)='onChangeImage(product.thumbs.img3[1])'
            [ngClass]='{"active": product.thumbs.img3[1] === selectedImage}'><img [src]="product.thumbs.img3[0]"
              alt="" /></a>
        </li> -->
      </ul>
    </div>
    <div class="product-details">
      <h2 class="product-title">{{ product.title }}</h2>
      <div class="details-btns">
        <span class="btn btn-primary white">
          <span *ngIf="isset" class="isset">
            <i class="material-icons">
              done
            </i>
            {{ 'В наличии' | getMessage }}
          </span>
          <span *ngIf="!isset" class="clear">
            <i class="material-icons">
              clear
            </i>
            {{ 'Нет в наличии' | getMessage }}
          </span>
        </span>
        <div *ngIf="!isset" class="note-text product-isset-status">
          {{ 'К заказу доступно, отгрузка в течение 3-х дней' | getMessage }}
        </div>
      </div>
      <div class="quantity">
        {{ 'Кол-во:' | getMessage }}
        <div>
          <a (click)="setQuantity(false)" class="reduce">-</a>
          <a (click)="setQuantity(true)" class="increase">+</a>
          <span>{{ quantity }}</span>
        </div>
      </div>
      <div class="product-color" *ngIf="productTexture">
        {{ 'Текстура товара:' | getMessage }}
        <img [src]="productTexture.filename" [alt]="productTexture.filename" />
        <span>&nbsp;&nbsp;{{productTexture.title}}</span>
      </div>
      <mat-form-field *ngIf="product.has_color">
        <mat-label>{{ 'Цвет товара' | getMessage }}</mat-label>
        <mat-select (selectionChange)="onColorSelect($event)" [value]='productColor ? productColor.id : 0'>
          <mat-option>-- None --</mat-option>
          <mat-optgroup *ngFor="let key of colorsGroups" [label]="key">
            <mat-option *ngFor="let color of product.colors[key]" [value]="color.id">
              <span class="product-color-html" [style.backgroundColor]="'#' + color.html"></span>
              {{ color.title }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-hint *ngIf='productColor'>{{'При выборе цвета товар мы отгружаем в течение 5 дней' | getMessage}}
        </mat-hint>
      </mat-form-field>
      <!-- <div class="vendor-code">
        {{ 'Код товара:' | getMessage }}
        <strong>{{ product.vendor_code }}</strong>
      </div> -->
      <ul class="product-features" *ngIf="product.features">
        <li *ngFor="let feature of product.features">
          <span>{{ feature }}</span>
        </li>
      </ul>
      <div class="product-price">
        {{ 'Цена:' | getMessage }}
        <strong>{{ price | number }} UZS</strong>
      </div>

    </div>
    <div class="product-order-btn-cont">
      <ng-container>
        <span class="btn btn-primary white">
          <span>
            <i class="delivery-icon" style="background-image: url(/assets/img/delivery.png)"></i>
            {{ 'Бесплатная доставка от 20 банок' | getMessage }}</span>
        </span>
        <a (click)="onOrder()" *ngIf="!added" class="btn btn-default"><span>{{ 'Заказать' | getMessage }}</span></a>
        <!-- <a (click)="cancelOrder(product.id)" *ngIf="cartItem"
            class="btn btn-default"><span>{{ 'Отменить заказ' | getMessage }}</span></a> -->
      </ng-container>
    </div>
    <div class="product-description" [innerHtml]="product.description | safeHtml"></div>

  </div>
  <div class="product-textures-cont" *ngIf="textures?.length">

    <div class="product-textures" *ngIf='!listExposed'>
      <div #swiperCont class="overflowed">
        <ul>
          <li *ngFor="let texture of texturesOrigin" (click)="changeTexture(texture)">
            <img [src]="texture.filename" alt="texture.filename" />
            <span>{{ texture.title }}</span>
          </li>
        </ul>
      </div>
      <ng-container *ngIf="listExposed && texturesOrigin.length > listSize">
        <div class="show-more">
          <div (click)="showMore()">
            <i>+</i>
            <div>
              {{ 'Еще...' | getMessage }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="product-textures" *ngIf='listExposed'>
      <ul>
        <li *ngFor="let texture of texturesOrigin"
          [ngClass]="{ active: productTexture && texture.id === productTexture.id }" (click)="changeTexture(texture)">
          <img [src]="texture.filename" alt="texture.filename" />
          <span>{{ texture.title }}</span>
        </li>
        <!-- <ng-container *ngIf="listExposed && texturesOrigin.length > listSize">
          <li class="show-more">
            <div (click)="showMore()">
              <i>+</i>
              <div>
                {{ 'Еще...' | getMessage }}
              </div>
            </div>
          </li>
        </ng-container> -->
      </ul>
    </div>
    <span class="expose-list" (click)="exposeList()">
      <i class="material-icons">arrow_forward_ios</i>
    </span>
  </div>
</div>
<ul class="similar-products" *ngIf="similarProducts | async as sProducts">
  <li *ngFor="let product of sProducts">
    <a [routerLink]="'/product/' + product.slug">
      <span class="s-img">
        <img [src]="product.thumbnail" alt="product.title" />
      </span>
      <span>{{ product.title }}</span>
    </a>
  </li>
</ul>
