// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.delivery-icon {
  @include inline-block;
  width: 28px;
  height: 17px;
  margin-right: 15px;

  background: {
    repeat: no-repeat;
    position: center;
  }
}

.product-card-cont {
  margin-bottom: 100px;
  padding-top: 40px;
}

.product-card {
  @include clearfix;
  font-family: 'Ubuntu-Regular', sans-serif;
  padding-top: 55px;

  &:not(.full-width) {
    float: right;
    width: calc(100% - 408px);
  }
}

.product-images {
  float: left;
  width: 374px;
  margin-right: 67px;

  ul {
    @include reset-list;
    margin: 0 -20px;

    li {
      width: 33.33%;
      padding: 0 20px;
      float: left;
      cursor: pointer;

      a {
        display: block;
        padding: 10px;

        &.active {
          border: 1px solid $color-1;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

.product-main-img {
  text-align: center;
  margin-bottom: 40px;

  img {
    width: 100%;
    max-width: 95%;
    display: block;
    margin: 0 auto;
  }
}

.product-details {
  overflow: hidden;
}

.product-title {
  font-size: 30px;
  font-family: 'CenturyGothic-Bold', sans-serif;
  color: #000000;
  margin-bottom: 36px;
  line-height: 1;
}

.details-btns {
  margin-bottom: 27px;

  .btn {
    i {

      vertical-align: top;
      margin-top: 11px;

    }
  }
}

.isset {
  i {
    color: #47af4d;
  }
}

.clear {
  i {
    color: $color-3;
  }
}

.product-features {
  color: #9b3197;
  margin-bottom: 25px;
  padding-left: 15px;

  li {
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  span {
    color: #000;
    font-family: 'Ubuntu-Light', sans-serif;
  }
}

.product-description {
  padding-top: 40px;
  clear: both;
  font-family: 'Ubuntu-Light', sans-serif;
  margin-bottom: 55px;

  p:last-child {
    margin-bottom: 0;
  }
}

.product-order-btn-cont {
  position: relative;
  padding-top: 35px;
  text-align: right;
  clear: both;

  .btn-primary {
    margin-right: 54px;
    text-align: center;

    >span {
      padding: 0 55px;
    }
  }

  .btn-default {
    width: 290px;
    text-align: center;
    cursor: pointer;
  }
}

.product-textures-cont {
  @include box-shadow(0 12px 24px 0 rgba(0, 0, 0, .15));
  position: relative;
  @include border-radius(20px);
  background: #ffffff;
  width: 312px;
}

.exposed {
  .product-card {
    display: none;
  }

  .product-textures-cont {
    width: auto;

    .product-textures {
      ul {
        margin: 0 -44px;

        li {
          width: calc(20% - 88px);
          margin: 0 44px 55px 44px;
          float: left;
        }
      }
    }

    .expose-list {
      i {
        @include transform(rotate(180deg));
      }
    }
  }
}

.product-textures {
  background: white;
  position: relative;
  z-index: 2;
  padding: 55px 55px 0 55px;
  @include border-radius(20px);
  overflow: hidden;

  ul {
    @include reset-list;

    li {
      margin-bottom: 55px;
      border: 2px solid transparent;
      overflow: visible !important;
      @include transition(all 0.4s);
      cursor: pointer;
      position: relative;
      height: 190px;

      span {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: block;
        padding: 10px 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:not(.show-more):hover,
      &.active {
        border-color: #fff400;
        @include border-radius(10px);
        @include box-shadow(0 7px 12px rgba(0, 0, 0, 0.15));
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &.show-more {
        border: 1px solid #c4c4c4;
        height: 183px;
        @include content-align(center);
        text-align: center;
        font-size: 16px;
        font-family: 'CenturyGothic', sans-serif;
        cursor: pointer;

        i {
          font-family: 'Montserrat-ExtraLight', sans-serif;
          font-size: 90px;
          font-style: normal;
          line-height: 1;
        }

        div {
          clear: both;
        }

        &:hover {
          border-color: $color-1;
          color: $color-1;
        }
      }
    }

  }
}

.note-text {
  color: green;
  font-size: 18px;
  line-height: 1.1;
  padding: 5px 0;
}

.expose-list {
  position: absolute;
  top: calc(50% - 29px);
  height: 58px;
  width: 58px;
  font-size: 16px;
  color: #dcdcdc;
  text-align: right;
  right: - 21px;
  background: white;
  @include border-radius(50%);
  z-index: 1;
  @include box-shadow(3px 0 5px rgba(0, 0, 0, .15));
  cursor: pointer;

  i {
    vertical-align: top;
    margin-top: 17px;
    margin-right: 4px;
    color: #d0d0d0;
    font-size: 20px;
    @include transition(color 0.4s);
  }

  &:hover {
    i {
      color: $color-1;
    }
  }
}


.similar-products {
  @include clearfix;
  @include reset-list;

  li {
    float: left;
    width: 20%;
    padding: 0 50px;
    display: table-cell;

    &:not(:first-child) {
      border-left: 1px solid #dbdbdb;
    }

    a {
      color: #000000;
      font-size: 16px;
      font-family: 'CenturyGothic', sans-serif;
    }
  }
}

.s-img {
  height: 150px;
  @include content-align(center);
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 767.95px) {
  .product-card-cont {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .product-images {
    width: auto;
    float: none;
    margin: 0 0 30px;
  }

  .product-card {
    padding-top: 10px;
  }

  .product-details {
    clear: both;
    padding-top: 30px;
  }

  .product-order-btn-cont {
    .btn {
      margin: 0 auto 20px !important;
      width: 100%;
      max-width: 300px;
      display: block;
    }
  }

  .similar-products {
    margin: 0;

    li {
      width: auto;
      float: none;
      margin: 0 30px;
    }
  }

  .product-main-img {
    margin: 0 auto 30px;
    max-width: 300px;
  }
}
