.main-container
  header.header
    .header-inner
      nav.main-nav
        ul
          li
            a(href='#') ГЛАВНАЯ
            ul
              li
                a(href='#') Sub link
              li
                a(href='#') Sub link
              li
                a(href='#') Sub link
              li
                a(href='#') Sub link
              li
                a(href='#') Sub link
          li
            a(href='#') О НАС
          li
            a(href='#') ПРОДУКТЫ
          li
            a(href='#') УСЛУГИ  
          li.logo
            a(href='#')
            img(src='/assets/img/logo.png')
          li
            a(href='#') ПОРТФОЛИО
          li
            a(href='#') ВИДЕО
          li
            a(href='#') Новости
          li
            a(href='#') Контакты
      .lang-nav([ngClass]='{"active": langNavOpened}')
        .active-lang
          canvas#activeLang(width='40', height='40')
          span((click)='toggleLangNav()') ru
        ul
          li en 
          li uz
      .feedback([ngClass]='{"active": feedbackOpened}')
        a.fdb-btn.fractured((click)='toggleFeedback()', [ngClass]='{"active": feedbackOpened}')
          span
            span С
            span в
            span я
            span з
            span а
            span т
            span ь
            span с
            span я
            span &nbsp;
            span с 
            span н
            span а
            span м
            span и
          i
  //- header end
  main.content
    section.content-top
      .main-slider
        ul.ms-imgs
          li.prev-img
            a(href='#')
              i(style='background-image: url(/assets/img/slide-1.jpg)')
          li.next-img
            a(href='#')
              i(style='background-image: url(/assets/img/slide-1.jpg)')
          li.current-img
            a(href='#')
              i(style='background-image: url(/assets/img/slide-1.jpg)')
          li
            a(href='#')
              img.new(src='/assets/img/new.png')
              i(style='background-image: url(/assets/img/slide-1.jpg)')
          li
            a(href='#')
              i(style='background-image: url(/assets/img/slide-1.jpg)')
        .ms-counter
          span 0
          ul
            li.active 1
            li 2
            li 3
            li 4
            li 5
        ul.ms-desc
          li.active.show-content
            div Новинка на рынке
            p натуральный отделочный камень
          li
            div Новинка на рынке
            p натуральный отделочный камень
          li
            div Новинка на рынке
            p натуральный отделочный камень
          li
            div Новинка на рынке
            p натуральный отделочный камень
          li
            div Новинка на рынке
            p натуральный отделочный камень
        ul.ms-pagination
          li.active
          li
          li
          li
          li
          li.ms-next-slide
            i.material-icons arrow_forward_ios
      //- main-slider end
      .top-line.left-top
      .top-line.left-bottom
      .top-line.left-bottom-shorter
      .top-line.right-bottom
      .scroll-down
        span
        i
    //- content-top end
    section.maru-new-items.check-visibility
      .container.clearfix
        .ni-imgs
          .ni-img.ni-img-1
            img(src='/assets/img/st-1.png')
            i(style='background-image: url(/assets/img/st-1-shadow.png)')
          .ni-img.ni-img-2
            img(src='/assets/img/st-2.png')
            i(style='background-image: url(/assets/img/st-2-shadow.png)')
          .ni-img.ni-img-3
            img(src='/assets/img/st-3.png')
          .ni-line.ni-left-top
          .ni-line.ni-left-bottom
          .ni-line.ni-top-left
          .ni-line.ni-top-right
          .ni-line.ni-bottom-left
        .ni-desc
          div
            h2 Новинки от MARU CHEMICALS
            p Cовместное предприятие «UNK SOLUTION» c 2010 года занимается производством различных видов декоративных покрытий в Узбекистане,под товарным знаком «MARU». Современные декоративные покрытия, выпускаемые по оригинальной технологии, уже украсили огромное количество домов, квартир, офисов, ресторанов и других объектов. 
            a.btn.btn-primary.fractured(href='#')
              span
                span П
                span о
                span д
                span р
                span о
                span б
                span н
                span е
                span е
    //- maru-new-items end
    section.production.check-visibility
      .container
        h3.title-1.text-center Продукция
        .production-filter
          mat-select
            mat-option(value='Травертин') Травертин
            mat-option(value='Травертин') Травертин
        .production-list
          owl-carousel(
            [options]="prodCarouselOptions",
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          )
            .item
              img(src='/assets/img/img-1.png')
              .prod-title
                a(href='#') MARU TRAVERTINE ORIGINAL PREMIUM
              .prod-desc
                ul
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Натуральный состав
                  li(matTooltip='Подлежит шлифовке', matTooltipPosition='above') Подлежит шлифовке
                  li(matTooltip='Имеет высокую адгезию', matTooltipPosition='above') Имеет высокую адгезию
              .prod-price
                | 262 400 
                span UZS
              .prod-btn-cont
                a.btn.btn-default.fractured(href='#')
                  span([innerHtml]='"Купить" | splitString')
                .prod-bottom-border
                  i
            .item
              img(src='/assets/img/img-2.png')
              .prod-title
                a(href='#') MARU TRAVERTINE ORIGINAL PREMIUM
              .prod-desc
                ul
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Натуральный состав
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Подлежит шлифовке
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Имеет высокую адгезию
              .prod-price
                | 262 400 
                span UZS
              .prod-btn-cont
                a.btn.btn-default.fractured(href='#')
                  span([innerHtml]='"Купить" | splitString')
                .prod-bottom-border
                  i
            .item
              img(src='/assets/img/img-3.png')
              .prod-title
                a(href='#') MARU TRAVERTINE ORIGINAL PREMIUM
              .prod-desc
                ul
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Натуральный состав
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Подлежит шлифовке
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Имеет высокую адгезию
              .prod-price
                | 262 400 
                span UZS
              .prod-btn-cont
                a.btn.btn-default.fractured(href='#')
                  span([innerHtml]='"Купить" | splitString')
                .prod-bottom-border
                  i
            .item
              img(src='/assets/img/img-1.png')
              .prod-title
                a(href='#') MARU TRAVERTINE ORIGINAL PREMIUM
              .prod-desc
                ul
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Натуральный состав
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Подлежит шлифовке
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Имеет высокую адгезию
              .prod-price
                | 262 400 
                span UZS
              .prod-btn-cont
                a.btn.btn-default.fractured(href='#')
                  span([innerHtml]='"Купить" | splitString')
                .prod-bottom-border
                  i
            .item
              img(src='/assets/img/img-1.png')
              .prod-title
                a(href='#') MARU TRAVERTINE ORIGINAL PREMIUM
              .prod-desc
                ul
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Натуральный состав
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Подлежит шлифовке
                  li(matTooltip='Натуральный состав', matTooltipPosition='above') Имеет высокую адгезию
              .prod-price
                | 262 400 
                span UZS
              .prod-btn-cont
                a.btn.btn-default.fractured(href='#')
                  span([innerHtml]='"Купить" | splitString')
                .prod-bottom-border
                  i

        .texture-list
          span.texture-line
          owl-carousel(
            [options]="textureCarouselOptions",
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          )
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-bottom
              a(href='#')
                img(src='/assets/img/texture-1.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-2.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-3.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-4.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-5.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-6.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-1.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-2.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-3.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-4.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-5.jpg')
            .item.bordered-hover
              span.borders-hover.border-left
              span.borders-hover.border-top
              span.borders-hover.border-right
              span.borders-hover.border-left
              a(href='#')
                img(src='/assets/img/texture-6.jpg')
    //- production end
    section.our-advs.check-visibility
      .container
        h3.title-1 Наши преимущества
        .clearfix
          .adv-line.adv-line-left
          .adv-line.adv-line-right
          .adv-line.adv-line-bottom
          .advs-list
            ul.gridEffect(data-fx='Nut')
              li.grid__item
                .grid__link
                  p
                    strong Мастера
                  div Высококвалифицированные мастера всегда готовы качественно отделать фасад, а также проконсультировать Вас при выборе стиля и цветовых гамм.
              li.grid__item
                .grid__link
                  p
                    strong Консультация
                  div Наши онлайн консультанты всегда рады ответить на все интересующие вас вопросы, связанные с отделкой фасада. 
              li.grid__item
                .grid__link
                  p
                    strong Бесплатная доставка
                  div При заказе от 20 ведер, доставка по городу Ташкент бесплатная.
              li.grid__item
                .grid__link
                  p
                    strong Без наценок
                  div Наши онлайн консультанты всегда рады ответить на все интересующие вас вопросы, связанные с отделкой фасада. 
          .advs-imgs
            .adv-img.adv-img-1.check-visibility
              i.adv-img-part.adv-img-part-1
              i.adv-img-part.adv-img-part-2
              i.adv-img-part.adv-img-part-3
              i.adv-img-part.adv-img-part-4
              i.adv-img-part.adv-img-part-5
              i.adv-img-part.adv-img-part-6
              i.adv-img-part.adv-img-part-7
              i.adv-img-part.adv-img-part-8
            .adv-img.adv-img-2.check-visibility
              i.adv-img-part.adv-img-part-1
              i.adv-img-part.adv-img-part-2
              i.adv-img-part.adv-img-part-3
              i.adv-img-part.adv-img-part-4
              i.adv-img-part.adv-img-part-5
              i.adv-img-part.adv-img-part-6
              i.adv-img-part.adv-img-part-7
              i.adv-img-part.adv-img-part-8
              i.adv-img-part.adv-img-part-9
              i.adv-img-part.adv-img-part-10
              i.adv-img-part.adv-img-part-11
              //- i.adv-img-part.adv-img-part-12
            .adv-img.adv-img-3.check-visibility
    //- our-advs end
    section.our-folio.check-visibility
      .container
        h3.title-1 Наши работы
        .folio-slider
          owl-carousel(
            [options]="folioCarouselOptions",
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          )
            .item
              a(href='/assets/img/folio-1.jpg', data-fancybox='folio')
                img(src='/assets/img/folio-1.jpg')
            .item
              a(href='/assets/img/folio-1.jpg', data-fancybox='folio')
                img(src='/assets/img/folio-1.jpg')
            .item
              a(href='/assets/img/folio-1.jpg', data-fancybox='folio')
                img(src='/assets/img/folio-1.jpg')
            .item
              a(href='/assets/img/folio-1.jpg', data-fancybox='folio')
                img(src='/assets/img/folio-1.jpg')
    //- our folio end
    section.news.check-visibility
      .container
        h3.title-1 Новости
        ul.news-list.gridEffect(data-fx='Shu')
          li.grid__item.bordered-hover
            span.borders-hover.border-left
            span.borders-hover.border-top
            span.borders-hover.border-right
            span.borders-hover.border-bottom
            .grid__link
              .news-date 10.02.2019
              .news-title
                a(href='#') ТРАВЕРТИН (известковый ракушечник)
              .news-desc Морозостойкий материал. Благодаря наличию пор травертин наделен свойствам  и сцепными, теплофизическими и звукоизолирующими.
              .news-learn-more
                a(href='#')
                  span Узнать больше
          li.grid__item.bordered-hover
            span.borders-hover.border-left
            span.borders-hover.border-top
            span.borders-hover.border-right
            span.borders-hover.border-bottom
            .grid__link
              .news-date 10.02.2019
              .news-title
                a(href='#') ТРАВЕРТИН (известковый ракушечник)
              .news-desc Морозостойкий материал. Благодаря наличию пор травертин наделен свойствам  и сцепными, теплофизическими и звукоизолирующими.
              .news-learn-more
                a(href='#')
                  span Узнать больше
          li.grid__item.bordered-hover
            span.borders-hover.border-left
            span.borders-hover.border-top
            span.borders-hover.border-right
            span.borders-hover.border-bottom
            .grid__link
              .news-date 10.02.2019
              .news-title
                a(href='#') ТРАВЕРТИН (известковый ракушечник)
              .news-desc Морозостойкий материал. Благодаря наличию пор травертин наделен свойствам  и сцепными, теплофизическими и звукоизолирующими.
              .news-learn-more
                a(href='#')
                  span Узнать больше
          li.grid__item.bordered-hover
            span.borders-hover.border-left
            span.borders-hover.border-top
            span.borders-hover.border-right
            span.borders-hover.border-bottom
            .grid__link
              .news-date 10.02.2019
              .news-title
                a(href='#') ТРАВЕРТИН (известковый ракушечник)
              .news-desc Морозостойкий материал. Благодаря наличию пор травертин наделен свойствам  и сцепными, теплофизическими и звукоизолирующими.
              .news-learn-more
                a(href='#')
                  span Узнать больше
        .news-line.news-line-left-top
        .news-line.news-line-left-bottom
        .news-line.news-line-right-top
        .news-line.news-line-right-bottom
    //- news  end
    section.reviews
      .container
        h3.title-1 Отзывы
        .reviews-slider
          owl-carousel(
            [options]="reviewsCarouselOptions",
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          )
            .item
              .review-header
                img.review-img(src='/assets/img/review-img.jpg')
                div
                  p Хуршид Салимов
                  div Ташкент
              .review-text Если вас интересует качественные и недорогие отделочные материалы, кампания MARU станет для вас оптимальным выбором. Неизменными в нашей работе являются — высокая культура обслуживания, соблюдение норм деловой и моральной этики, информационная прозрачность.
            .item
              .review-header
                img.review-img(src='/assets/img/review-img.jpg')
                div
                  p Хуршид Салимов
                  div Ташкент
              .review-text Если вас интересует качественные и недорогие отделочные материалы, кампания MARU станет для вас оптимальным выбором. Неизменными в нашей работе являются — высокая культура обслуживания, соблюдение норм деловой и моральной этики, информационная прозрачность.
    //- reviews end
  //- content end
//- main-container end
footer.footer
  .container
    .footer-top
      .footer-contacts
        div
          div Страна: Узбекистан
          div Город: Ташкент
          div Район: Яшнабадский
          div Индекс: 100007
          div Код региона: 371
        div
          div Тел.: +998 (71) 200 63 33
          div Моб: +998 (90) 950 06 62
          div Факс: +998 (71) 269 31 33
          div E-mail: <a href='mailto:unksolution@gmail.com'>unksolution@gmail.com</a>
      .footer-top-right
        .nets
          a(href='#')
            img(src='/assets/img/fb.png')
          a(href='#')
            img(src='/assets/img/ok.png')
          a(href='#')
            img(src='/assets/img/yt.png')
          a(href='#')
            img(src='/assets/img/int.png')
        .footer-feedback
          h4 ОСТАЛИСЬ ВОПРОСЫ
          p Задайте их нашему специалисту
          a.btn.btn-default.fractured(href='#')
            span([innerHtml]='"Задать вопрос" | splitString')
    .copyright
      img(src='/assets/img/footer-logo.png')
      div Все права защищены,  При использовании материалов сайта ссылка на сайт обязательна &copy; 2018г