<div class="cursor-cont"><span class="node" id="node"></span><span class="cursor" id="cursor"></span></div>
<ng-container *ngIf='isLoaded'>
  <div class="main-container">
    <!-- <ln-header *ngIf='locales?.length' [locales]='locales' (feedbackClosed)='toggleFeedback($event)' [feedbackOpened]='feedbackOpened'> -->
    <ln-header (feedbackClosed)='toggleFeedback($event)' [feedbackOpened]='feedbackOpened'>
    </ln-header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  <ln-footer (askQuestion)='toggleFeedback()'></ln-footer>
</ng-container>
