@import '~compass-mixins/lib/compass/css3';
@import '../../../../assets/css/animations';
@import '../../../../assets/css/hover-effects';
@import '../../../../assets/css/variables';
@import '../../../../assets/css/functions';

.preloader-cont {
  @include display-flex;
  @include content-align(center);
  @include align-items(center);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 164px;
  height: 164px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #52bcd3;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 78px;
    left: 78px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 158px;
    height: 158px;
    opacity: 0;
  }
}
