<ln-preloader *ngIf='!isLoaded'></ln-preloader>
<ng-container *ngIf='isLoaded'>
  <section class="content-top">
    <div class="main-slider">
      <ul class="ms-imgs" #msImgs>
        <ng-container *ngFor='let item of mainSliderItems; let i = index;'>
          <li>
            <a [routerLink]='"/article/" + item.slug'>
              <i [style.backgroundImage]="'url('+ item.thumbnail +')'"></i>
            </a>
          </li>
        </ng-container>

        <!-- <li class="next-img"><a href="#"><i style="background-image: url(/assets/img/slide-1.jpg)"></i></a></li>
        <li class="current-img"><a href="#"><i style="background-image: url(/assets/img/slide-1.jpg)"></i></a></li>
        <li><a href="#"><img class="new" src="/assets/img/new.png"><i style="background-image: url(/assets/img/slide-1.jpg)"></i></a></li>
        <li><a href="#"><i style="background-image: url(/assets/img/slide-1.jpg)"></i></a></li> -->
      </ul>
      <div class="ms-counter" #msCounter><span>0</span>
        <ul>
          <li *ngFor='let item of mainSliderItems; let i = index;' [ngClass]="{'active': i===0}">{{i+1}}</li>
        </ul>
      </div>
      <ul class="ms-desc" #msDesc>
        <li *ngFor='let item of mainSliderItems; let i = index;' [ngClass]="{'active show-content': i===0}">
          <div>{{item.title}}</div>
          <p>{{item.description}}</p>
        </li>
      </ul>
      <ul class="ms-pagination" #msPagination>
        <li *ngFor='let item of mainSliderItems; let i = index;' [ngClass]="{'active': i===0}"></li>
        <li class="ms-next-slide" (click)='goToNext()'><i class="material-icons">arrow_forward_ios</i></li>
      </ul>
    </div>
    <div class="top-line left-top"></div>
    <div class="top-line left-bottom"></div>
    <div class="top-line left-bottom-shorter"></div>
    <div class="top-line right-bottom"></div>
    <div class="scroll-down"><span></span><i></i></div>
  </section>
  <section class="maru-new-items check-visibility">
    <div class="container clearfix">
      <div class="ni-imgs">
        <div class="ni-imgs-cont">
          <div class="ni-img ni-img-1"><img src="/assets/img/st-1.png"><i
              style="background-image: url(/assets/img/st-1-shadow.png)"></i></div>
          <div class="ni-img ni-img-2"><img src="/assets/img/st-2.png"><i
              style="background-image: url(/assets/img/st-2-shadow.png)"></i></div>
          <div class="ni-img ni-img-3"><img src="/assets/img/st-3.png"></div>
        </div>
        <div class="ni-line ni-left-top"></div>
        <div class="ni-line ni-left-bottom"></div>
        <div class="ni-line ni-top-left"></div>
        <div class="ni-line ni-top-right"></div>
        <div class="ni-line ni-bottom-left"></div>
      </div>
      <div class="ni-desc" *ngIf='newFromMaru'>
        <div>
          <h2>{{newFromMaru.title}}</h2>
          <div [innerHtml]='newFromMaru.description'></div>
          <a class="btn btn-primary fractured" [routerLink]="'/article/'+newFromMaru.slug"><span
              [innerHtml]='"Подробнее" | getMessage | splitString'></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="production check-visibility">
    <div class="container">
      <h3 class="title-1 text-center">{{'Продукция' | getMessage}}</h3>
      <div class="production-filter">
        <mat-select disableOptionCentering panelClass="myPanelClass" *ngIf='categories'
          (selectionChange)='productsFilter($event)' value='all'>
          <mat-option value="all">{{'Вся продукция' | getMessage}}</mat-option>
          <mat-option *ngFor='let category of categories' [value]="category.slug">{{category.title}}</mat-option>
        </mat-select>
      </div>
      <ln-preloader *ngIf='!products'></ln-preloader>
      <div class="products-list-cont">
        <div class="production-list" *ngIf='products'>
          <owl-carousel [options]="prodCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor='let product of products;'><img [src]="product.thumbnail">
              <div class="prod-title"><a [routerLink]="'/product/'+product.slug">{{product.title}}</a></div>
              <div class="prod-desc">
                <ul *ngIf='product.features?.length'>
                  <li *ngFor='let feature of product.features' matTooltip="{{feature}}" matTooltipPosition="above">
                    {{feature}}</li>
                </ul>
              </div>
              <div class="prod-price">{{product.price | number}} <span>UZS</span></div>
              <div class="prod-btn-cont"><a class="btn btn-default fractured"
                  [routerLink]="'/product/' + product.slug"><span
                    [innerHtml]="'Купить' | getMessage | splitString"></span></a>
                <div class="prod-bottom-border"><i></i></div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
      <div class="texture-list" *ngIf='textures'><span class="texture-line"></span>
        <owl-carousel [options]="textureCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item bordered-hover" *ngFor='let texture of textures'><span
              class="borders-hover border-left"></span><span class="borders-hover border-top"></span><span
              class="borders-hover border-right"></span><span class="borders-hover border-bottom"></span><a
              [routerLink]="'/product/'+texture.product.slug"><img [src]="texture.filename"></a></div>
        </owl-carousel>
      </div>
    </div>
  </section>
  <section class="our-advs check-visibility">
    <div class="container">
      <h3 class="title-1">{{'Наши преимущества' | getMessage}}</h3>
      <div class="clearfix">
        <div class="adv-line adv-line-left"></div>
        <div class="adv-line adv-line-right"></div>
        <div class="adv-line adv-line-bottom"></div>
        <div class="advs-list" *ngIf='advantages'>
          <ul class="gridEffect" data-fx="Nut">
            <li class="grid__item" *ngFor='let advantage of advantages;'>
              <div class="grid__link">
                <p><strong>{{advantage.title}}</strong></p>
                <div>{{advantage.description}}</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="advs-imgs">
          <div class="adv-img adv-img-1 check-visibility"><i class="adv-img-part adv-img-part-1"></i><i
              class="adv-img-part adv-img-part-2"></i><i class="adv-img-part adv-img-part-3"></i><i
              class="adv-img-part adv-img-part-4"></i><i class="adv-img-part adv-img-part-5"></i><i
              class="adv-img-part adv-img-part-6"></i><i class="adv-img-part adv-img-part-7"></i><i
              class="adv-img-part adv-img-part-8"></i></div>
          <div class="adv-img adv-img-2 check-visibility"><i class="adv-img-part adv-img-part-1"></i><i
              class="adv-img-part adv-img-part-2"></i><i class="adv-img-part adv-img-part-3"></i><i
              class="adv-img-part adv-img-part-4"></i><i class="adv-img-part adv-img-part-5"></i><i
              class="adv-img-part adv-img-part-6"></i><i class="adv-img-part adv-img-part-7"></i><i
              class="adv-img-part adv-img-part-8"></i><i class="adv-img-part adv-img-part-9"></i><i
              class="adv-img-part adv-img-part-10"></i><i class="adv-img-part adv-img-part-11"></i></div>
          <div class="adv-img adv-img-3 check-visibility"></div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
