// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.not-block {
  background: {
    color: $color-3;
    repeat: no-repeat;
    position: -10px center;
  }

  ;

  margin-bottom: 15px;


  color: #fff;
  padding: 30px 44px 30px 74px;
  @include inline-block;
  white-space: nowrap;

  span {
    font-size: 24px;
  }
}

.top-str {
  margin-bottom: 30px;
}

.cart-list {
  @include reset-list;
  margin-bottom: 58px;
  border-bottom: 1px solid #cccccc;

  li {
    position: relative;

    &:hover {
      &::before {
        @include opacity(1);
        @include box-shadow(12px 12px 24px 0 rgba(0, 0, 0, .1));
      }
    }

    &::before {
      height: 100%;
      width: 200%;

      border: {
        top: 1px solid $color-1;
        right: 1px solid $color-1;
        bottom: 1px solid $color-1;
      }

      ;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      background: #fff;
      @include opacity(0);

      @include transition(opacity 0.4s ease-out, box-shadow 0.7s ease-out);
    }
  }
}


.cart-item {
  position: relative;
  z-index: 1;
  padding: 45px 30px 45px;
  @include clearfix;
}

.item-img {
  float: left;
  margin-right: 60px;
  width: 171px;
  display: block;
  margin-left: -30px;
}

.item-details {
  overflow: hidden;
}

.item-title {
  font-size: 24px;
  font-family: 'CenturyGothic-Bold', sans-serif;
  margin-bottom: 25px;
  color: $color-1;

  a {
    color: $color-1;
  }
}

.item-table {
  width: 100%;

  td {
    vertical-align: top;
    white-space: nowrap;

    &:nth-child(1) {
      width: 17%;
    }

    &:nth-child(2) {
      width: 35%;
    }

    &:nth-child(3) {
      width: 18%;
    }

    &:nth-child(4) {
      width: 22%;
    }



    &:not(:first-child) {
      padding-left: 35px;
    }

    .material-icons {
      color: #999999;
      @include transition(color 0.4s);
      vertical-align: top;
      cursor: pointer;

      &:hover {
        color: $color-3;
      }
    }
  }
}

.item-price {
  .btn {
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Ubuntu-Medium', sans-serif;
    color: #000000;
  }
}

.product-price {
  font-size: 36px;
  color: #000000;
  font-family: 'Ubuntu-Medium';
  line-height: 1;
}

.product-color {
  margin-bottom: 0;
}

.quantity {
  margin-bottom: 0;
}

.vendor-code {
  margin-bottom: 0;
  padding-top: 8px;
}

.cart-stats {
  text-align: center;

  p {
    margin-bottom: 22px;

    span {
      @include border-radius(50% !important);
      height: 40px;
      width: 40px;
      padding: 0;
      line-height: 40px;
      text-align: center;
    }
  }

  .btn-default {
    font-size: 24px;
    font-family: 'CenturyGothic-Bold', sans-serif;
    line-height: 68px;
    padding: 0 112px;
    height: 68px;
  }
}

.total-price {
  font-family: 'Ubuntu-Medium', sans-serif;
  color: #000000;
  margin-bottom: 35px;
  font-size: 36px;

  span {
    color: $color-3;
  }
}

@media (max-width: 1439px) {
  .item-img {
    margin-right: 30px;
    width: 145px;
  }

  .item-table {
    td {
      &:not(:first-child) {
        padding-left: 30px !important;
      }

    }
  }

  .product-price {
    font-size: 30px;
  }

  .btn-primary.white>span {
    padding: 0 35px;
  }
}

@media (max-width: 767px) {

  .not-block,
  .cart-not-footer {
    display: none;
  }

  .item-img {
    float: none;
    margin: 0 auto 20px;
    width: 290px;
  }

  .cart-list {
    li {
      margin-bottom: 40px;

      &::before {
        width: 100%;
      }
    }
  }

  .item-table {
    td {
      &:not(:first-child) {
        padding-left: 0 !important;
      }

    }
  }

  .cart-item {
    padding: 15px 0;
    border: none !important;
  }

  .item-table {
    td {
      float: left;
      width: 100% !important;
      padding: 0 !important;
      text-align: center;

      &:not(:last-child) {
        padding-bottom: 20px !important;
      }

      .ps-price {
        float: none;
      }
    }
  }
}
