<h1 class="title-1">{{'Моя корзина' | getMessage}}</h1>
<div class="not-block" style='background-image: url(/assets/img/note-icon.png)'
  [innerHtml]='"Cart notification" | getMessage'>

</div>
<p class="top-str">
  {{'Cart top string' | getMessage}}
</p>
<div *ngIf="!items.length">
  {{'Корзина пуста. Добавьте торвары на странице' | getMessage}}
  <a [routerLink]="'/catalog'">{{'продукции' | getMessage}}</a>
</div>
<ng-container *ngIf="items.length">
  <ul class="cart-list">
    <li *ngFor="let item of items">
      <div class="cart-item">
        <img class="item-img" *ngIf="item.thumbnail" [src]="item.thumbnail" alt="" />
        <div class="item-details">
          <div class="item-title">
            <a [routerLink]='"/product/"+item.slug'>{{item.title}}</a>
          </div>
          <table class="item-table">
            <tr>
              <td>
                <div class="product-color" *ngIf='item.texture'>
                  {{'Текстура товара:' | getMessage}}
                  <img [src]="item.texture.filename" [alt]="item.texture.filename">
                </div>
                <div class="product-color" *ngIf='item.color'>
                  {{'Цвет товара:' | getMessage}}
                  <span class="product-color-html" [style.backgroundColor]="'#'+item.color.color"></span>
                </div>
                <!-- <div class="vendor-code">{{'Код товара:' | getMessage}} <strong>{{item.vendor_code}}</strong></div> -->
              </td>
              <td>
                <div class="item-price">
                  {{'Цена за одну банку:' | getMessage}}
                  <span class="btn btn-primary white">
                    <span>{{item.price | number}} UZS</span>
                  </span>
                </div>
              </td>
              <td>
                <div class="quantity">
                  {{'Кол-во:' | getMessage}}
                  <div>
                    <a (click)="setQuantity(false, item)" class="reduce">-</a>
                    <a (click)="setQuantity(true, item)" class='increase'>+</a>
                    <span>{{item.quantity}}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="product-price">{{item.price * item.quantity | number}} UZS</div>
              </td>
              <td>
                <i class="material-icons" (click)='removeFromCart(item)'>clear</i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-stats">
    <p>
      {{'Общее количество банок:' | getMessage}}
      <span class="btn btn-primary white"><span>{{totalQuantity}}</span></span>
    </p>
    <div class="total-price">{{'Итого:' | getMessage}} <span>{{totalPrice | number}} UZS</span></div>
    <a [routerLink]='"/order"' class="btn btn-default"><span>{{'Оформить заказ' | getMessage}}</span></a>
  </div>
</ng-container>
