<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-contacts">
        <div *ngIf='address' [innerHtml]='address.content'>
          <!-- <div>Страна: Узбекистан</div>
          <div>Город: Ташкент</div>
          <div>Район: Яшнабадский</div>
          <div>Индекс: 100007</div>
          <div>Код региона: 371</div> -->
        </div>
        <div *ngIf='contacts' [innerHtml]='contacts.content'>
          <!-- <div>Тел.: +998 (71) 200 63 33</div>
          <div>Моб: +998 (90) 950 06 62</div>
          <div>Факс: +998 (71) 269 31 33</div>
          <div>E-mail: <a href='mailto:unksolution@gmail.com'>unksolution@gmail.com</a></div> -->
        </div>
      </div>
      <div class="footer-top-right">
        <div class='nets' *ngIf='nets' [innerHtml]='nets.content'>
          <!-- <a href="#"><img src="/assets/img/fb.png"></a><a href="#"><img src="/assets/img/ok.png"></a><a href="#"><img
              src="/assets/img/yt.png"></a><a href="#"><img src="/assets/img/int.png"></a> -->
        </div>
        <div class="footer-feedback">
          <h4>{{'ОСТАЛИСЬ ВОПРОСЫ' | getMessage}}</h4>
          <p>Задайте их нашему специалисту</p><a (click)='toggleFeedback()'
            class="btn btn-default fractured feedback-btn-footer"><span
              [innerHtml]="'Задать вопрос' | getMessage | splitString"></span></a>
        </div>
      </div>
    </div>
    <div class="copyright"><img src="/assets/img/footer-logo.png">
      <div>{{'Copyright' | getMessage}} &copy; {{year}}г</div>
    </div>
  </div>
</footer>
