<header class="header" id="header">
  <div class="header-inner">
    <div class="header-inner-inner">
      <span class="nav-header" (click)='toggleMenu()' [ngClass]='{"active": menuOpened}'><span><i></i></span></span>
      <a [routerLink]="'/'" class="mob-logo"><img src="/assets/img/logo.png"></a>
      <nav class="main-nav" [ngClass]='{"opened": menuOpened}'>
        <ln-menu *ngIf='isLoaded' [address]='address' [menu]='menu'></ln-menu>
        <!-- <ul>
          <li><a href="#">ГЛАВНАЯ</a>
            <ul>
              <li><a href="#">Sub link</a></li>
              <li><a href="#">Sub link</a></li>
              <li><a href="#">Sub link</a></li>
              <li><a href="#">Sub link</a></li>
              <li><a href="#">Sub link</a></li>
            </ul>
          </li>
          <li><a href="#">О НАС</a></li>
          <li><a href="#">ПРОДУКТЫ</a></li>
          <li><a href="#">УСЛУГИ  </a></li>
          <li class="logo"><a href="#"></a><img src="/assets/img/logo.png"></li>
          <li><a href="#">ПОРТФОЛИО</a></li>
          <li><a href="#">ВИДЕО</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul> -->
      </nav>
      <div class="lang-nav" [ngClass]="{'active': langNavOpened}">
        <div class="active-lang">
          <span (click)="toggleLangNav()">{{activeLocale.name}}</span>
        </div>

        <ul>
          <ng-container *ngFor='let locale of locales'>
            <li *ngIf='locale.locale !== activeLocale.locale' (click)='changeLocale(locale.locale,$event)'>
              {{locale.name}}
            </li>
          </ng-container>
        </ul>
      </div>
      <a class="cart-link" [routerLink]='"/cart"'>
        <ng-container *ngIf='cartCount'>
          <span>+{{cartCount}}</span>
        </ng-container>
      </a>
      <div class="feedback" [ngClass]="{'active': feedbackOpened}">
        <a class="fdb-btn fractured" (click)="toggleFeedback()" [ngClass]="{'active': feedbackOpened}">
          <span [innerHtml]='"Связаться с нами" | getMessage | splitString'></span>
          <i></i>
        </a>
      </div>
    </div>
  </div>
  <ln-feedback [feedbackOpened]='feedbackOpened' (success)='toggleFeedback()' (hideFeedback)='toggleFeedback()'>
  </ln-feedback>
</header>
