// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';

.products-list-cont {
  @include transition(height 0.3s);
}

.product-group {
  &:not(:last-child) {
    margin-bottom: 90px;
  }

  h4 {
    font-size: 18px;
    font-family: 'CenturyGothic-Bold', sans-serif;
    margin-bottom: 30px;
  }

  ul {
    @include reset-list;
    @include clearfix;
    margin: 0 -80px;
    position: relative;
    overflow: hidden;
    @include display-flex;
    @include flex-wrap(wrap);

    &::before {
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      content: '';
      background: #fff;
      width: 2px;
      visibility: visible;
      content: '';
    }

    li {
      float: left;
      width: 33.3333%;
      margin-bottom: 38px;
      padding: 0 80px;
      border-left: 1px solid $border-color;
    }
  }
}

.product-img {
  margin-bottom: 22px;
  text-align: center;
  height: 250px;
  display: block;
  @include dec-res;
  @include content-align(center);


  img {
    max-height: 80%;
    max-width: 80%;
  }

}

.product-details {
  @include clearfix;
}

.product-title {
  overflow: hidden;
  font-size: 16px;
  height: 50px;

  a {
    color: #111111;
    font-family: 'CenturyGothic', sans-serif;
  }
}

.product-price {
  font-family: 'Ubuntu-Medium', sans-serif;
  color: $color-3;
  font-size: 16px;
  float: right;
  margin-left: 15px;
}

.product-textures {
  @include clearfix;
}

.product-textures-list {
  @include clearfix;

  a {
    float: left;
    display: block;
    width: 33px;
    height: 33px;
    overflow: hidden;
    @include border-radius(50%);

    background: {
      repeat: no-repeat;
      position: center center;
      size: cover;
    }

    &:not(:first-child) {
      margin-left: 9px;
    }

  }
}

.textures-count {
  float: right;
  height: 33px;
  border: 1px solid $border-color;
  line-height: 33px;
  padding: 0 12px;
  color: #8d8d8d;
  font-family: 'Ubuntu-Light', sans-serif;
}

@media (max-width: 767.95px) {
  .product-group {
    ul {
      @include flex-direction(column);
      margin: 0;

      li {
        width: 100%;
        padding: 0;
      }
    }
  }
}
