<ln-preloader *ngIf='!isLoaded'></ln-preloader>
<ln-prodcuts-filter (selectedCategory)='onCategoryChange($event)' [slug]='slug' [categories]='categories'>
</ln-prodcuts-filter>
<ng-container *ngIf='isLoaded'>
  <div class="products-list-cont" #productsListCont>
    <div class="products-list" #productsList>
      <div class="product-group" *ngFor='let group of products'>
        <h4>{{group[0].category.title}}</h4>
        <ul>
          <li *ngFor='let product of group'>
            <a [routerLink]="'/product/'+product.slug" class="product-img">
              <img [src]="product.thumbnail" alt="product.title">
            </a>
            <div class="product-details">
              <div class="product-price">{{product.price | number}} UZS</div>
              <div class="product-title">
                <a [routerLink]="'/product/'+product.slug">{{product.title}}</a>
              </div>
            </div>
            <div class="product-textures" *ngIf='product.textures.count'>
              <div class="product-textures-list">
                <a *ngFor='let texture of product.textures.items' [href]="texture.filename"
                  [attr.data-fancybox]='"texture"+product.slug' [style.backgroundImage]="'url('+ texture.filename +')'">
                </a>
                <div class="textures-count" *ngIf='product.textures.count > 5'>+{{product.textures.count - 5}}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
