<div class="feedback-window" [ngClass]='{"opened": feedbackOpened}' id="feedback-window">
  <h3 class="text-center">{{'Связь с нами' | getMessage}}</h3>
  <ln-preloader *ngIf='submited'></ln-preloader>
  <form [formGroup]='form' (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input matInput formControlName='name' [placeholder]="'Имя' | getMessage">
      <mat-error *ngIf='f.name.errors?.minlength && f.name.touched'>
        {{'Минимальное кол-во символов должно быть' | getMessage}} {{f.name.errors.minlength.requiredLength}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName='lastname' [placeholder]="'Фамилия' | getMessage">
      <mat-error *ngIf='f.lastname.errors?.minlength && f.lastname.touched'>
        {{'Минимальное кол-во символов должно быть' | getMessage}} {{f.lastname.errors.minlength.requiredLength}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName='phone' [placeholder]="'Телефон' | getMessage">
      <mat-error *ngIf='f.phone.errors?.minlength && f.phone.touched'>
        {{'Минимальное кол-во символов должно быть' | getMessage}} {{f.phone.errors.minlength.requiredLength}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName='email' [placeholder]="'Email' | getMessage">
      <mat-error *ngIf='f.email.invalid && f.email.touched'>
        {{'Неправильно введен Email адрес' | getMessage}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName='message' [placeholder]="'Текст сообщения' | getMessage"></textarea>
      <mat-error *ngIf='f.message.errors?.minlength && f.message.touched'>
        {{'Минимальное кол-во символов должно быть' | getMessage}} {{f.message.errors.minlength.requiredLength}}
      </mat-error>
    </mat-form-field>
    <div class="text-center feedback-btn-cont">
      <button mat-button class="btn btn-spc">{{'Отправить' | getMessage}}</button>
    </div>
  </form>
</div>
<div class="feedback-overlay" [ngClass]='{"opened": feedbackOpened}' (click)='toggleFeedback()'></div>
