// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../../assets/css/variables';
@import '../../../../assets/css/functions';
@import '../../../../assets/css/hover-effects';
@import '../../../../assets/css/animations';

.feedback-window {
  background: $color-3;
  padding: 80px 70px;
  color: #fff;
  position: absolute;
  width: 496px;
  top: 100%;
  right: 0;
  @include transition(transform 0.4s ease, opacity 0.4s ease-out);
  @include transform(translate(0, 25%) scale(0.9));
  @include opacity(0);
  visibility: hidden;
  z-index: 2;

  &.fixed {
    position: fixed;
    top: 82px;
    min-height: calc(100% - 82px);
  }

  &.opened {
    visibility: visible;
    @include opacity(1);
    @include transform(translate(0) scale(1));
  }

  .mat-form-field {
    width: 100%;
  }

  mat-form-field.mat-form-field {
    font-size: 18px;
    font-family: 'CenturyGothic', sans-serif;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff;
  }

  h3 {
    font-size: 30px;
    font-family: 'CenturyGothic', sans-serif;
    color: #fff;
    margin-bottom: 30px;
  }

  .btn {
    padding: 0 80px;
  }

  .feedback-btn-cont {
    padding-top: 30px;
  }

  .mat-error {
    color: #fff;
  }

  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
  .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: $color-1;
  }
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  @include opacity(0);
  visibility: hidden;
  z-index: -1;
  @include transition(opacity 0.4s);

  &.opened {
    @include opacity(1);
    visibility: visible;
  }
}

@media (max-width: 1439px) {

  .feedback-window {
    padding: 60px 55px;
    width: 400px;

    mat-form-field.mat-form-field {
      font-size: 16px;
    }

    .btn-spc {
      padding: 0 80px;
      font-size: 16px;
    }

    h3 {
      font-size: 27px;
    }

    .feedback-btn-cont {
      padding-top: 25px;
    }
  }
}
