<h1 class="title-1">{{'Оформить заказ' | getMessage}}</h1>
<ln-preloader *ngIf='submited'></ln-preloader>
<div class="will-keep-until">
  {{'Ваш заказ будет готов к выдаче'}} <strong>22.04.2019</strong> {{'и будет храниться до' | getMessage}}
  <span>26.04.2019</span>
</div>
<h3 *ngIf='sent'>
  {{'Заказ принят!' | getMessage}}
</h3>
<form [formGroup]='form' (ngSubmit)='onSubmit()' *ngIf='!sent'>
  <div class="order-delivery-btns">
    <a (click)='setDeliveryType(1)'
      [ngClass]='{"active" : deliveryType===1}'>{{'Самовывоз из магазина' | getMessage}}</a>
    <a (click)='setDeliveryType(2)' [ngClass]='{"active" : deliveryType===2}'>{{'Доставка до дома' | getMessage}}</a>
  </div>

  <div class="order-form-cont">
    <div class="order-col">
      <h4>
        <img src="/assets/img/location-icon.png" alt="">
        {{'Адрес для получения' | getMessage}}
      </h4>
      <mat-slide-toggle class="select-address" (change)='changeAddress($event)' [labelPosition]='"before"'>
        <span class="country-sp country-sp-1">{{'Узбекистан' | getMessage}}</span><span
          class="country-sp country-sp-2">{{'Казахстан' | getMessage}}</span>
      </mat-slide-toggle>
      <div class="delivery-1" *ngIf='deliveryType === 1'>
        <ng-container *ngIf='address === 1'>
          {{'Order uzb address' | getMessage}}
          <a [href]="'https://google.com/maps?q=' + ('Order uzb address' | getMessage)"
            target="_blank">{{'Посмотреть на карте' | getMessage}}</a>
        </ng-container>
        <ng-container *ngIf='address === 2'>
          {{'Order kz address' | getMessage}}
          <a [href]="'https://google.com/maps?q=' + ('Order kz address' | getMessage)"
            target="_blank">{{'Посмотреть на карте' | getMessage}}</a>
        </ng-container>

      </div>
      <div class="delivery-2" *ngIf='deliveryType === 2'>
        <mat-form-field>
          <input matInput [placeholder]="'Город' | getMessage" formControlName='city'>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="'Улица' | getMessage" formControlName='street'>
        </mat-form-field>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input matInput [placeholder]="'Дом' | getMessage" formControlName='house'>
              <mat-error *ngIf='f.house.errors?.invalidNumber && f.house.touched'>
                {{'Должно быть целое число' | getMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input matInput [placeholder]="'Квартира' | getMessage" formControlName='flat'>
              <mat-error *ngIf='f.flat.errors?.invalidNumber && f.flat.touched'>
                {{'Должно быть целое число' | getMessage}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field>
          <textarea matInput [placeholder]="'Дополнительная информация' | getMessage" formControlName='info'></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="order-col">
      <h4>
        <img src="/assets/img/contact-icon.png" alt="">
        {{'Контактная информация' | getMessage}}
      </h4>
      <mat-form-field>
        <input matInput [placeholder]="'Фамилия' | getMessage" formControlName='lastname'>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'Имя' | getMessage" formControlName='name'>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'Контактный телефон' | getMessage" formControlName='phone'>
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'E-mail' | getMessage" formControlName='email'>
      </mat-form-field>
    </div>
  </div>
  <div class="order-footer">
    <table>
      <tr>
        <td>
          <!-- <mat-radio-button (change)='onConfirm($event)'>

          </mat-radio-button> -->
          <mat-checkbox (change)='onConfirm($event)'><span [innerHtml]='"Order confirm" | getMessage'></span>
          </mat-checkbox>
        </td>
        <td>
          {{'Общее количество банок:' | getMessage}}
          <span class="btn btn-primary white"><span>{{totalQuantity}}</span></span>
        </td>
        <td *ngIf='deliveryType === 2'>{{'Доставка' | getMessage}} <strong>{{deliveryPrice | number}} UZS</strong></td>
        <td><strong>{{'Итого:' | getMessage}} <span>{{totalPrice | number}} UZS</span></strong></td>
      </tr>
    </table>
    <div class="order-btn">
      <button type="submit" class="btn btn-default"><span>{{'Оформить' | getMessage}}</span></button>
    </div>
  </div>
</form>
