// CenturyGothic
// CenturyGothic-Bold
// Montserrat-MediumItalic
// Montserrat-ExtraBold
// Montserrat-Regular
// Montserrat-SemiBoldItalic
// Montserrat-SemiBold
// Montserrat-Medium
// Montserrat-ExtraLight
// Montserrat-BlackItalic
// Montserrat-ThinItalic
// Montserrat-ExtraLightItalic
// Montserrat-Bold
// Montserrat-Italic
// Montserrat-Black
// Montserrat-Thin
// Montserrat-LightItalic
// Montserrat-Light
// Montserrat-ExtraBoldItalic
// Montserrat-BoldItalic
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Condensed
// Ubuntu-Medium
// PTSans-Regular
// PTSans-BoldItalic
// PTSans-Bold
// PTSans-Italic
// Copyist
// ***
@import '~compass-mixins/lib/compass/css3';
@import '../../../assets/css/variables';
@import '../../../assets/css/functions';
@import '../../../assets/css/hover-effects';
@import '../../../assets/css/animations';


.row {
  margin: 0 -15px;
  @include clearfix;
}

.col-6 {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.title-1 {
  margin-bottom: 50px;
}

.will-keep-until {
  position: relative;
  font-family: 'CenturyGothic-Bold', sans-serif;
  font-style: italic;
  color: #000;
  margin-bottom: 60px;

  strong {
    color: $color-1;
  }

  span {
    color: $color-3;
  }

  &::before {
    height: 8px;
    width: 265px;
    background: $color-1;
    content: '';
    display: block;
    margin-bottom: 12px;
  }

}

.order-delivery-btns {
  @include clearfix;
  margin-bottom: 70px;

  a {
    float: left;
    background: #f2f2f2;
    color: #000000;
    font-size: 16px;
    font-family: 'CenturyGothic', sans-serif;
    line-height: 47px;
    display: block;
    cursor: pointer;
    @include dec-res;
    @include transition(all 0.4s);
    padding: 0 45px;
    min-width: 295px;
    text-align: center;
    @include border-radius(47px);

    &:not(:first-child) {
      margin-left: 38px;
    }

    &:hover:not(.active) {
      background: $color-1;
      color: #ffffff;
    }

    &.active {
      background: #5dc3ff;
      color: #f2f2f2;
    }
  }
}

.order-form-cont {
  padding-bottom: 85px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 40px;
  @include clearfix;
  font-family: 'CenturyGothic', sans-serif;

  a {
    color: $color-2;
    @include dec-y;
  }
}

.order-col {
  float: left;
  width: 470px;
  padding-left: 78px;

  &:not(:first-child) {
    margin-left: 200px;
  }

  h4 {
    position: relative;
    line-height: 73px;
    white-space: nowrap;
    font-size: 18px;
    font-family: 'CenturyGothic-Bold', sans-serif;
    font-style: italic;
    margin-bottom: 10px;

    img {
      position: absolute;
      right: calc(100% + 24px);
      top: 0;
    }
  }
}

.mat-form-field {
  width: 100%;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  font-family: 'CenturyGothic', sans-serif;
}

.delivery-2 {
  padding-top: 33px;
}

.delivery-1 {
  padding-top: 45px;
  font-size: 16px;
}


.order-footer {
  font-family: 'Ubuntu-Regular', sans-serif;
  font-size: 14px;

  a:not(.btn) {
    color: $color-2;
    @include dec-y;
  }

  table {
    width: 100%;

    td {
      &:last-child {
        text-align: right;
      }
    }

    .white {
      width: 40px;
      height: 40px;
      padding: 0;
      line-height: 38px;
      @include border-radius(50%);

      span {
        padding: 0;
        display: block;
        text-align: center;
        line-height: 40px;
      }
    }
  }

  strong {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Ubuntu-Medium';

    span {
      color: $color-3;
    }
  }
}

.order-btn {
  text-align: right;
  padding-top: 20px;

  .btn {
    width: 320px;
    text-align: center;
  }
}


@media (max-width: 767px) {
  .order-details-cont {
    width: auto;
    float: none;
    margin: 0 0 30px;
    float: none;
  }

  .order-delivery-btns {
    margin-bottom: 30px;

    a {
      float: none;
      width: 100%;
      margin: 0 0 20px !important;
    }
  }

  .form-cont {
    padding: 0 15px 20px;
    margin: 0 -15px;
  }

  .order-form-cont {
    margin-bottom: 0;
  }

  .shop-address {
    td {
      float: left;
      width: 100% !important;
      padding: 0 0 15px 0 !important;
    }
  }

  .order-header {
    margin-bottom: 30px;
  }

  .order-col {
    margin: 0 !important;
    width: 100%;
    padding: 0 0 20px 0 !important;
  }

  .order-footer {
    td {
      float: left;
      width: 100%;
      text-align: center;
    }
  }
}
